#***Obtención de datos de tráfico - Madrid***

*Fuente:* Portal de datos abiertos del ayuntamiento de Madrid (https://datos.madrid.es/portal/site/egob).

*Conjunto de datos:* Tráfico. Histórico de datos del tráfico desde 2013 -> Tráfico. Datos del tráfico en tiempo real (años de interés 2017 a 2023).

Los datos se descargan como ficheros .csv mensuales.

***Variables originales:***

*id:* Identificador del punto de medida.

*fecha:* Fecha y hora.

*tipo_elem:*  Subárea de explotación de tráfico ('C30', 'URB', 'M30').

*intensidad:* Intensidad de número de vehículos por hora.

*ocupacion:* Porcentaje de tiempo que está un detector de tráfico ocupado por un vehículo.

*carga:* Parámetro de carga del vial. Representa una estimación del grado de congestión, calculado a partir de un algoritmo que usa como variables la intensidad y ocupación, con ciertos factores de corrección. Establece el grado de uso de la vía en un rango de 0 (vacía) a 100 (colapso).

*vmed:* Velocidad media de los vehículos detectados en el periodo de
integración.

*error:* Código de control de la validez de los datos del punto de medida.

*periodo_integracion:* X tiempo de toma de datos.

In [93]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

***Exploración de conjunto mensual y extrapolación al resto***

In [ ]:
path = '/content/drive/MyDrive/madrid_traffic_data/original/2021/01-2021.csv'

In [ ]:
data = pd.read_csv(path, sep=';', header=0)
data.head()

,id,fecha,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
0,1001,2021-01-01 00:00:00,M30,144,NaN,0,55.0,N,5
1,1001,2021-01-01 00:15:00,M30,84,0.0,0,56.0,N,5
2,1001,2021-01-01 00:30:00,M30,108,0.0,0,55.0,N,5
3,1001,2021-01-01 00:45:00,M30,792,1.0,0,59.0,N,5
4,1001,2021-01-01 01:00:00,M30,1704,4.0,0,61.0,N,5

In [ ]:
data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10422264 entries, 0 to 10422263
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 715.6+ MB

In [ ]:
data.isnull().sum()

id                          0
fecha                       0
tipo_elem                   0
intensidad                  0
ocupacion               34803
carga                       0
vmed                     6419
error                  240860
periodo_integracion         0
dtype: int64

In [ ]:
data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10422264 entries, 0 to 10422263
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   id          int64
 1   fecha       object
 2   tipo_elem   object
 3   intensidad  int64
 4   ocupacion   float64
 5   carga       int64
 6   vmed        float64
dtypes: float64(2), int64(3), object(2)
memory usage: 556.6+ MB

In [ ]:
data.duplicated().sum() # sin duplicados

0

In [ ]:
data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
data.isnull().sum()

id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64

In [ ]:
data.shape

(10381042, 7)

In [ ]:
data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora
data.head()

     id       fecha tipo_elem  intensidad  ocupacion  carga  vmed
1  1001  2021-01-01    NO_URB          84        0.0      0  56.0
2  1001  2021-01-01    NO_URB         108        0.0      0  55.0
3  1001  2021-01-01    NO_URB         792        1.0      0  59.0
4  1001  2021-01-01    NO_URB        1704        4.0      0  61.0
5  1001  2021-01-01    NO_URB        2388        6.0      0  58.0

***Selección de puntos de medida de tráfico por estación CA de interes***

In [ ]:
ptos_t = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/ptos_x_est_CA_2km.csv')
ptos_t.head()

,Unnamed: 0,ptos_RC,ptos_B,ptos_CC,ptos_R,ptos_PE,ptos_B_ext,ptos_CC_ext
0,0,3909,6334.0,3844.0,3842.0,4081.0,6332.0,3840
1,1,3910,6335.0,3925.0,3843.0,3614.0,6333.0,3841
2,2,3911,6336.0,3930.0,3845.0,4167.0,6334.0,3842
3,3,3460,6337.0,3931.0,3850.0,4168.0,6335.0,3843
4,4,3461,6338.0,3937.0,7029.0,4169.0,6336.0,3844

**Barajas**

In [ ]:
data_B = data[data.id.isin(list(ptos_t.ptos_B))]
data_B.drop(['id'], axis=1, inplace=True)
print(data_B.tipo_elem.value_counts())

URB    47119
Name: tipo_elem, dtype: int64

In [ ]:
data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
data_B_m.drop('tipo_elem', axis=1, inplace=True)
data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
data_B_m.insert(0,'estacion','BARAJAS')
data_B_m

   estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   BARAJAS  2021-01-01  103.356207   2.974423   8.748596         0.0
1   BARAJAS  2021-01-02  142.653917   4.133251  12.696484         0.0
2   BARAJAS  2021-01-03  129.061958   3.628253  11.324040         0.0
3   BARAJAS  2021-01-04  190.639093   6.006127  17.204657         0.0
4   BARAJAS  2021-01-05  193.408952   6.239730  17.587983         0.0
5   BARAJAS  2021-01-06  127.104450   4.365266  11.599506         0.0
6   BARAJAS  2021-01-07  163.611281   5.692213  15.073574         0.0
7   BARAJAS  2021-01-08  135.590174   4.396144  11.963308         0.0
8   BARAJAS  2021-01-09   19.915416   0.343793   1.437926         0.0
9   BARAJAS  2021-01-10   43.783920   1.437186   2.912060         0.0
10  BARAJAS  2021-01-11   73.412478   1.918544   5.714038         0.0
11  BARAJAS  2021-01-12  102.743336   2.079208   7.653465         0.0
12  BARAJAS  2021-01-13  133.692884   2.428464  10.223221         0.0
13  BARAJAS  2021-01-14  154.362561   3.117606  12.259569         0.0
14  BARAJAS  2021-01-15  161.259138   3.360966  13.007180         0.0
15  BARAJAS  2021-01-16  117.902815   2.950402   9.997319         0.0
16  BARAJAS  2021-01-17  102.171250   2.338125   8.205625         0.0
17  BARAJAS  2021-01-18  175.672202   4.798893  14.806273         0.0
18  BARAJAS  2021-01-19  175.005549   5.346486  15.167694         0.0
19  BARAJAS  2021-01-20  190.691595   6.470952  17.009889         0.0
20  BARAJAS  2021-01-21  193.936615   6.612308  17.521231         0.0
21  BARAJAS  2021-01-22  201.292459   6.235438  18.642551         0.0
22  BARAJAS  2021-01-23  125.132760   3.602336  11.742471         0.0
23  BARAJAS  2021-01-24  103.645499   2.863132   9.241060         0.0
24  BARAJAS  2021-01-25  189.825874   5.708768  17.404660         0.0
25  BARAJAS  2021-01-26  187.511057   5.768428  17.014742         0.0
26  BARAJAS  2021-01-27  193.047239   5.853374  17.545399         0.0
27  BARAJAS  2021-01-28  193.757669   5.819632  17.585890         0.0
28  BARAJAS  2021-01-29  200.493873   6.116422  18.094975         0.0
29  BARAJAS  2021-01-30  124.155172   3.504310  11.092365         0.0
30  BARAJAS  2021-01-31  100.167591   2.606285   8.642021         0.0

***Cuatro Caminos***

In [ ]:
data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
data_CC.drop(['id'], axis=1, inplace=True)
print(data_CC.tipo_elem.value_counts())

URB    998730
Name: tipo_elem, dtype: int64

In [ ]:
data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
data_CC_m.drop('tipo_elem', axis=1, inplace=True)
data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
data_CC_m

          estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   CUATRO CAMINOS  2021-01-01  187.536089   1.978696   8.076892         0.0
1   CUATRO CAMINOS  2021-01-02  267.373629   2.931034  11.653850         0.0
2   CUATRO CAMINOS  2021-01-03  239.742297   2.545870  10.424016         0.0
3   CUATRO CAMINOS  2021-01-04  403.426727   4.735660  17.861832         0.0
4   CUATRO CAMINOS  2021-01-05  385.516512   4.571198  17.312375         0.0
5   CUATRO CAMINOS  2021-01-06  238.345327   2.438386  10.412336         0.0
6   CUATRO CAMINOS  2021-01-07  337.817480   3.938288  15.172530         0.0
7   CUATRO CAMINOS  2021-01-08  270.064452   3.602954  12.333306         0.0
8   CUATRO CAMINOS  2021-01-09   29.759556   1.387999   2.047021         0.0
9   CUATRO CAMINOS  2021-01-10   52.783770   1.523295   2.732389         0.0
10  CUATRO CAMINOS  2021-01-11   83.004267   1.579190   3.847025         0.0
11  CUATRO CAMINOS  2021-01-12  131.534214   2.491980   6.054786         0.0
12  CUATRO CAMINOS  2021-01-13  184.853379   3.590273   8.839885         0.0
13  CUATRO CAMINOS  2021-01-14  226.606485   4.399051  10.985628         0.0
14  CUATRO CAMINOS  2021-01-15  265.060646   4.679830  12.401402         0.0
15  CUATRO CAMINOS  2021-01-16  229.449557   3.158155  10.346830         0.0
16  CUATRO CAMINOS  2021-01-17  197.478988   2.434146   8.814149         0.0
17  CUATRO CAMINOS  2021-01-18  337.608319   5.675747  15.843414         0.0
18  CUATRO CAMINOS  2021-01-19  364.388461   5.906570  17.150165         0.0
19  CUATRO CAMINOS  2021-01-20  387.570863   5.807272  17.844779         0.0
20  CUATRO CAMINOS  2021-01-21  399.254453   5.703613  18.862974         0.0
21  CUATRO CAMINOS  2021-01-22  433.310667   5.695555  19.736377         0.0
22  CUATRO CAMINOS  2021-01-23  298.631366   3.456842  13.530612         0.0
23  CUATRO CAMINOS  2021-01-24  228.777867   2.336108  10.160667         0.0
24  CUATRO CAMINOS  2021-01-25  388.754135   4.722522  17.622770         0.0
25  CUATRO CAMINOS  2021-01-26  399.180548   4.758883  17.985998         0.0
26  CUATRO CAMINOS  2021-01-27  353.988044   4.513377  18.066591         0.0
27  CUATRO CAMINOS  2021-01-28  423.585070   5.169564  19.375879         0.0
28  CUATRO CAMINOS  2021-01-29  426.646422   5.136193  19.417374         0.0
29  CUATRO CAMINOS  2021-01-30  288.661863   3.061734  12.718595         0.0
30  CUATRO CAMINOS  2021-01-31  223.298396   2.203464   9.794744         0.0

***Retiro***

In [ ]:
data_R = data[data.id.isin(list(ptos_t.ptos_R))]
data_R.drop(['id'], axis=1, inplace=True)
print(data_R.tipo_elem.value_counts())

URB       850614
NO_URB    118057
Name: tipo_elem, dtype: int64

In [ ]:
data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
data_R_m.drop('tipo_elem', axis=1, inplace=True)
data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
data_R_m['vmed_noURB'] = vmed_noURB
data_R_m.insert(0,'estacion','RETIRO')
data_R_m

   estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0    RETIRO  2021-01-01  248.050256   2.653806  10.757992   67.271271
1    RETIRO  2021-01-02  350.310435   4.072448  15.596162   65.803860
2    RETIRO  2021-01-03  322.138978   3.711456  14.363939   66.124639
3    RETIRO  2021-01-04  538.369217   6.418433  23.482414   65.532393
4    RETIRO  2021-01-05  482.528546   5.821633  21.309829   64.666234
5    RETIRO  2021-01-06  301.914587   3.372638  13.241203   65.362776
6    RETIRO  2021-01-07  431.750937   5.099892  18.901016   63.674961
7    RETIRO  2021-01-08  366.594284   4.577618  15.521182   53.221159
8    RETIRO  2021-01-09   40.463845   0.716414   1.651551    3.926892
9    RETIRO  2021-01-10   49.132969   1.118067   2.571114   11.403670
10   RETIRO  2021-01-11  100.063629   1.403153   4.432544   28.128219
11   RETIRO  2021-01-12  172.784770   2.371292   7.564871   41.670534
12   RETIRO  2021-01-13  321.099870   3.398476  10.763984   49.373433
13   RETIRO  2021-01-14  334.519631   4.149020  13.243536   55.103008
14   RETIRO  2021-01-15  389.813184   4.559094  15.335888   57.637886
15   RETIRO  2021-01-16  398.892209   3.478558  12.990477   61.488073
16   RETIRO  2021-01-17  352.163608   2.858052  11.294432   59.474692
17   RETIRO  2021-01-18  442.778133   6.107705  19.230224   55.945191
18   RETIRO  2021-01-19  462.489891   6.761494  20.572678   56.032629
19   RETIRO  2021-01-20  474.721138   6.879523  21.264881   55.786770
20   RETIRO  2021-01-21  499.634071   6.734989  22.183496   59.468930
21   RETIRO  2021-01-22  525.661294   6.805848  23.225497   59.269201
22   RETIRO  2021-01-23  359.206141   4.297024  16.155836   63.552371
23   RETIRO  2021-01-24  318.017580   3.262433  12.888012   62.808634
24   RETIRO  2021-01-25  485.722492   5.668632  20.891383   60.772620
25   RETIRO  2021-01-26  497.822312   5.865027  21.430531   60.275556
26   RETIRO  2021-01-27  483.964247   5.561131  21.069613   60.569051
27   RETIRO  2021-01-28  509.153344   5.916101  21.670523   61.644872
28   RETIRO  2021-01-29  515.414197   6.107240  22.276911   62.300631
29   RETIRO  2021-01-30  348.480083   3.876108  15.276351   63.015682
30   RETIRO  2021-01-31  280.620352   3.055390  12.337695   61.376774

***Plaza Elíptica***

In [ ]:
data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
data_PE.drop(['id'], axis=1, inplace=True)
print(data_PE.tipo_elem.value_counts())

URB       704904
NO_URB    138339
Name: tipo_elem, dtype: int64

In [ ]:
data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
data_PE_m.drop('tipo_elem', axis=1, inplace=True)
data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
data_PE_m['vmed_noURB'] = vmed_noURB
data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
data_PE_m

          estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   PLAZA ELIPTICA  2021-01-01  221.936903   3.613783   9.238317   50.513465
1   PLAZA ELIPTICA  2021-01-02  286.463533   4.968983  12.048588   49.799326
2   PLAZA ELIPTICA  2021-01-03  264.060575   4.293846  10.777824   49.530480
3   PLAZA ELIPTICA  2021-01-04  393.913611   6.975605  15.863019   50.595924
4   PLAZA ELIPTICA  2021-01-05  400.385818   7.204819  16.257338   49.833844
5   PLAZA ELIPTICA  2021-01-06  275.609315   4.847619  11.459044   49.649111
6   PLAZA ELIPTICA  2021-01-07  358.724487   6.516917  14.466012   50.195509
7   PLAZA ELIPTICA  2021-01-08  328.864054   6.002553  12.386102   51.834981
8   PLAZA ELIPTICA  2021-01-09   68.916146   2.043287   4.070625    4.308366
9   PLAZA ELIPTICA  2021-01-10   59.546786   1.519716   3.390754   10.968511
10  PLAZA ELIPTICA  2021-01-11   87.105134   1.919372   4.457159   26.681125
11  PLAZA ELIPTICA  2021-01-12  133.384649   2.677853   6.239372   36.504891
12  PLAZA ELIPTICA  2021-01-13  182.083166   3.601852   8.148386   41.303883
13  PLAZA ELIPTICA  2021-01-14  223.154114   4.320471   9.534170   43.196249
14  PLAZA ELIPTICA  2021-01-15  269.465448   5.255813  11.554643   46.337238
15  PLAZA ELIPTICA  2021-01-16  231.954140   4.474199  10.326509   47.610519
16  PLAZA ELIPTICA  2021-01-17  199.605157   3.764761   8.856738   45.178506
17  PLAZA ELIPTICA  2021-01-18  339.835940   6.123783  13.675887   46.317568
18  PLAZA ELIPTICA  2021-01-19  358.560217   6.551474  14.364441   46.995160
19  PLAZA ELIPTICA  2021-01-20  378.714376   6.742623  14.983388   47.252185
20  PLAZA ELIPTICA  2021-01-21  400.039668   7.210270  15.825795   47.077124
21  PLAZA ELIPTICA  2021-01-22  426.424453   7.517639  16.701594   48.209706
22  PLAZA ELIPTICA  2021-01-23  302.217343   5.150086  12.585296   49.533169
23  PLAZA ELIPTICA  2021-01-24  252.109312   4.176086  10.471214   48.142278
24  PLAZA ELIPTICA  2021-01-25  404.292750   7.010468  15.845967   47.633028
25  PLAZA ELIPTICA  2021-01-26  414.498947   7.235949  16.149342   47.360891
26  PLAZA ELIPTICA  2021-01-27  410.263865   7.134681  16.011383   47.204421
27  PLAZA ELIPTICA  2021-01-28  422.789986   7.496791  16.529513   47.212295
28  PLAZA ELIPTICA  2021-01-29  428.665626   7.595468  17.079735   48.003511
29  PLAZA ELIPTICA  2021-01-30  301.736781   5.340193  12.894389   48.172538
30  PLAZA ELIPTICA  2021-01-31  246.007852   4.148299  10.450838   47.234703

Dos estaciones con *vmed_noURB* (Retiro y Plaza Eliptica, con elementos 'M30' y 'C30') y dos sin (Barajas y Cuatro Caminos).

In [ ]:
data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
data_month

          estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0          BARAJAS  2021-01-01  103.356207   2.974423   8.748596    0.000000
1          BARAJAS  2021-01-02  142.653917   4.133251  12.696484    0.000000
2          BARAJAS  2021-01-03  129.061958   3.628253  11.324040    0.000000
3          BARAJAS  2021-01-04  190.639093   6.006127  17.204657    0.000000
4          BARAJAS  2021-01-05  193.408952   6.239730  17.587983    0.000000
..             ...         ...         ...        ...        ...         ...
26  PLAZA ELIPTICA  2021-01-27  410.263865   7.134681  16.011383   47.204421
27  PLAZA ELIPTICA  2021-01-28  422.789986   7.496791  16.529513   47.212295
28  PLAZA ELIPTICA  2021-01-29  428.665626   7.595468  17.079735   48.003511
29  PLAZA ELIPTICA  2021-01-30  301.736781   5.340193  12.894389   48.172538
30  PLAZA ELIPTICA  2021-01-31  246.007852   4.148299  10.450838   47.234703

[124 rows x 6 columns]

In [ ]:
data_month.isnull().sum()

estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64

In [ ]:
data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/01-2021_mod_points.csv', index=False) # guardar

***Procesamiento mes a mes en ciclo***

In [ ]:
# 2021
path = '/content/drive/MyDrive/madrid_traffic_data/original/2021/'
d_month = ['02-2021', '03-2021', '04-2021', '05-2021', '06-2021', '07-2021',
           '08-2021', '09-2021', '10-2021', '11-2021', '12-2021']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  print(data_month.isnull().sum())
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10477478 entries, 0 to 10477477
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 719.4+ MB
None
id                          0
fecha                       0
tipo_elem                   0
intensidad                  0
ocupacion               39627
carga                       0
vmed                     5151
error                  150953
periodo_integracion         0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10432700, 7)
BARAJAS
URB    45497
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2021-02-01  194.232716   6.025926  17.429630         0.0
1  BARAJAS  2021-02-02  192.990166   5.726490  17.306699         0.0
2  BARAJAS  2021-02-03  196.229538   5.718154  17.587692         0.0
3  BARAJAS  2021-02-04  198.303495   5.785408  17.816677         0.0
4  BARAJAS  2021-02-05  206.462247   6.149171  18.474524         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1041662
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2021-02-01  392.556838   4.600878  17.595015         0.0
1  CUATRO CAMINOS  2021-02-02  400.564261   4.802500  18.076537         0.0
2  CUATRO CAMINOS  2021-02-03  405.378452   4.957123  18.337549         0.0
3  CUATRO CAMINOS  2021-02-04  414.136580   5.095912  18.716227         0.0
4  CUATRO CAMINOS  2021-02-05  430.712405   5.283959  19.437736         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       858332
NO_URB    104392
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2021-02-01  481.895592   5.489415  20.606577   61.230105
1   RETIRO  2021-02-02  497.102294   5.760273  21.186471   60.080364
2   RETIRO  2021-02-03  500.081418   5.788031  21.376629   60.568725
3   RETIRO  2021-02-04  511.060058   5.967683  21.880115   61.420157
4   RETIRO  2021-02-05  527.975326   6.184687  22.692426   61.915441
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       676671
NO_URB    121609
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2021-02-01  407.607868   7.155957  16.123303   47.253546
1  PLAZA ELIPTICA  2021-02-02  404.517417   7.196243  16.019940   46.126988
2  PLAZA ELIPTICA  2021-02-03  416.856396   7.230054  16.273314   47.407025
3  PLAZA ELIPTICA  2021-02-04  424.000140   7.465670  16.668750   48.095796
4  PLAZA ELIPTICA  2021-02-05  432.071481   7.880737  17.254965   47.682140
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11891658 entries, 0 to 11891657
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 816.5+ MB
None
id                          0
fecha                       0
tipo_elem                   0
intensidad                  0
ocupacion               27852
carga                       0
vmed                     9653
error                  109683
periodo_integracion         0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11854153, 7)
BARAJAS
URB    49919
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2021-03-01  210.604665   5.209331  18.960098         0.0
1  BARAJAS  2021-03-02  212.870098   5.189338  19.055760         0.0
2  BARAJAS  2021-03-03  219.782475   5.303922  19.648284         0.0
3  BARAJAS  2021-03-04  224.138547   5.578202  20.804803         0.0
4  BARAJAS  2021-03-05  231.517178   5.752761  20.515951         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1169261
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2021-03-01  414.875404   4.896368  18.693949         0.0
1  CUATRO CAMINOS  2021-03-02  432.272097   5.102013  19.454456         0.0
2  CUATRO CAMINOS  2021-03-03  439.567821   5.306351  19.800137         0.0
3  CUATRO CAMINOS  2021-03-04  448.872150   5.469022  20.255172         0.0
4  CUATRO CAMINOS  2021-03-05  462.983888   5.705712  20.959628         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       968434
NO_URB    118089
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2021-03-01  520.495278   5.961714  21.609824   62.558164
1   RETIRO  2021-03-02  531.374859   6.140858  22.370308   64.132187
2   RETIRO  2021-03-03  536.401800   6.361374  22.711154   63.051131
3   RETIRO  2021-03-04  541.031931   6.419452  23.192828   60.995531
4   RETIRO  2021-03-05  600.214835   7.047452  24.583536   62.829275
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       762923
NO_URB    140438
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2021-03-01  513.807730   7.714398  16.063805   54.747864
1  PLAZA ELIPTICA  2021-03-02  483.895691   7.744996  16.462009   55.354478
2  PLAZA ELIPTICA  2021-03-03  467.783796   7.622234  16.485370   54.909436
3  PLAZA ELIPTICA  2021-03-04  435.910189   7.684341  16.984214   49.358784
4  PLAZA ELIPTICA  2021-03-05  446.863933   7.863864  17.521842   47.619669
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11495366 entries, 0 to 11495365
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 789.3+ MB
None
id                          0
fecha                       0
tipo_elem                   0
intensidad                  0
ocupacion               24442
carga                       0
vmed                     4725
error                  161220
periodo_integracion         0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11466199, 7)
BARAJAS
URB    48806
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2021-04-01  138.174691   2.899383  11.950617         0.0
1  BARAJAS  2021-04-02  114.875154   2.639606   9.808733         0.0
2  BARAJAS  2021-04-03  145.704182   3.263223  12.974785         0.0
3  BARAJAS  2021-04-04  144.191739   2.883477  12.428483         0.0
4  BARAJAS  2021-04-05  189.957669   4.429448  16.647239         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1138372
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2021-04-01  248.025425   2.613723  10.994273         0.0
1  CUATRO CAMINOS  2021-04-02  232.751162   2.540468  10.381299         0.0
2  CUATRO CAMINOS  2021-04-03  280.666969   3.056230  12.521929         0.0
3  CUATRO CAMINOS  2021-04-04  247.948160   2.614019  11.050510         0.0
4  CUATRO CAMINOS  2021-04-05  394.839626   4.676469  17.842803         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       937923
NO_URB    114840
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2021-04-01  337.677441   4.008671  15.005203   65.643793
1   RETIRO  2021-04-02  315.015601   3.747351  14.088632   64.309984
2   RETIRO  2021-04-03  366.267544   4.375103  16.299078   65.142782
3   RETIRO  2021-04-04  336.783706   3.967046  15.009657   65.782505
4   RETIRO  2021-04-05  502.661999   5.928667  21.709068   64.558043
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       734479
NO_URB    137253
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2021-04-01  284.318179   4.636495  11.512522   48.768265
1  PLAZA ELIPTICA  2021-04-02  249.344261   4.174398  10.386943   47.595592
2  PLAZA ELIPTICA  2021-04-03  300.314241   5.179874  12.532608   48.474815
3  PLAZA ELIPTICA  2021-04-04  275.426430   4.562389  11.197043   48.086966
4  PLAZA ELIPTICA  2021-04-05  399.623001   6.933648  15.817582   48.522678
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11937669 entries, 0 to 11937668
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 819.7+ MB
None
id                          0
fecha                       0
tipo_elem                   0
intensidad                  0
ocupacion               27729
carga                       0
vmed                     3226
error                  126919
periodo_integracion         0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11906714, 7)
BARAJAS
URB    50498
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2021-05-01  153.802090   3.279041  13.575292         0.0
1  BARAJAS  2021-05-02  157.003071   3.310811  13.720516         0.0
2  BARAJAS  2021-05-03  140.984663   3.160123  12.307362         0.0
3  BARAJAS  2021-05-04  217.895156   5.120785  19.347026         0.0
4  BARAJAS  2021-05-05  228.920294   5.581852  20.326793         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1182820
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2021-05-01  294.693375   3.350648  13.309538         0.0
1  CUATRO CAMINOS  2021-05-02  294.247438   3.423817  13.381167         0.0
2  CUATRO CAMINOS  2021-05-03  262.029279   2.961334  11.879657         0.0
3  CUATRO CAMINOS  2021-05-04  437.854402   5.935287  20.308692         0.0
4  CUATRO CAMINOS  2021-05-05  456.745638   5.882783  20.657904         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       975066
NO_URB    118255
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2021-05-01  373.476425   4.513435  16.776870   66.246914
1   RETIRO  2021-05-02  385.234711   4.764865  17.335236   65.518196
2   RETIRO  2021-05-03  337.868251   3.855207  14.970798   66.317209
3   RETIRO  2021-05-04  534.191912   6.865066  23.514708   62.481695
4   RETIRO  2021-05-05  556.067393   7.386735  24.378684   62.444357
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       763052
NO_URB    140541
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2021-05-01  315.695269   5.576347  13.107343   50.699345
1  PLAZA ELIPTICA  2021-05-02  331.412975   5.777568  13.488643   49.670580
2  PLAZA ELIPTICA  2021-05-03  288.323811   4.840484  11.682068   50.152282
3  PLAZA ELIPTICA  2021-05-04  431.130025   7.691151  16.890829   48.343280
4  PLAZA ELIPTICA  2021-05-05  443.775804   8.238296  17.569062   49.166776
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11577338 entries, 0 to 11577337
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 795.0+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              21243
carga                      0
vmed                    5216
error                  67046
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11550879, 7)
BARAJAS
URB    48429
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2021-06-01  200.272144   4.946085  17.616175         0.0
1  BARAJAS  2021-06-02  246.836297   5.725322  21.470264         0.0
2  BARAJAS  2021-06-03  246.172181   5.898284  21.514706         0.0
3  BARAJAS  2021-06-04  257.490497   6.065604  22.568363         0.0
4  BARAJAS  2021-06-05  174.080417   3.763045  15.249233         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1120637
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2021-06-01  438.738739   5.574378  20.073032         0.0
1  CUATRO CAMINOS  2021-06-02  452.364007   5.818404  20.650314         0.0
2  CUATRO CAMINOS  2021-06-03  462.867003   5.867056  20.963714         0.0
3  CUATRO CAMINOS  2021-06-04  455.456206   5.718336  20.750191         0.0
4  CUATRO CAMINOS  2021-06-05  327.222689   3.321218  14.407871         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       951638
NO_URB    115368
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2021-06-01  546.092277   7.534920  24.211963   61.677043
1   RETIRO  2021-06-02  567.923622   7.597849  24.953779   63.844882
2   RETIRO  2021-06-03  573.553153   7.828852  25.453368   64.890205
3   RETIRO  2021-06-04  576.131007   7.849957  25.581191   65.070280
4   RETIRO  2021-06-05  414.320389   5.097374  18.533302   69.769847
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       722632
NO_URB    137581
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2021-06-01  445.488999   8.565187  17.891314   45.949923
1  PLAZA ELIPTICA  2021-06-02  453.901186   8.318674  17.866398   49.352915
2  PLAZA ELIPTICA  2021-06-03  463.739809   8.177113  17.900292   50.181135
3  PLAZA ELIPTICA  2021-06-04  468.428844   8.374072  18.150260   49.775232
4  PLAZA ELIPTICA  2021-06-05  351.334992   5.972827  14.180979   52.909367
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12132019 entries, 0 to 12132018
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 833.0+ MB
None
id                          0
fecha                       0
tipo_elem                   0
intensidad                  0
ocupacion               24993
carga                       0
vmed                     2797
error                  108163
periodo_integracion         0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(12104229, 7)
BARAJAS
URB    47664
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2021-07-01  249.402036   5.587786  21.666667         0.0
1  BARAJAS  2021-07-02  247.615090   5.650895  22.576087         0.0
2  BARAJAS  2021-07-03  180.715198   4.301405  17.286718         0.0
3  BARAJAS  2021-07-04  165.303030   3.421019  14.306254         0.0
4  BARAJAS  2021-07-05  235.851036   4.960492  21.034974         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1155928
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2021-07-01  461.506445   5.885198  20.942398         0.0
1  CUATRO CAMINOS  2021-07-02  429.139675   5.076501  19.384818         0.0
2  CUATRO CAMINOS  2021-07-03  305.421853   3.148649  13.552377         0.0
3  CUATRO CAMINOS  2021-07-04  267.142865   2.646277  11.690563         0.0
4  CUATRO CAMINOS  2021-07-05  414.461481   4.781273  18.536535         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       990962
NO_URB    119580
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2021-07-01  576.945368   7.986293  25.528365   64.988232
1   RETIRO  2021-07-02  552.658680   7.296399  24.312512   68.368092

In [ ]:
# 2022
path = '/content/drive/MyDrive/madrid_traffic_data/original/2022/'
d_month = ['01-2022', '02-2022', '03-2022', '04-2022', '05-2022', '06-2022',
           '07-2022', '08-2022', '09-2022', '10-2022', '11-2022', '12-2022']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12429813 entries, 0 to 12429812
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 853.5+ MB
None
id                          0
fecha                       0
tipo_elem                   0
intensidad                  0
ocupacion               26253
carga                       0
vmed                    10439
error                  109582
periodo_integracion         0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(12393121, 7)
BARAJAS
URB    48348
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2022-01-01  131.230501   2.277159   9.721448         0.0
1  BARAJAS  2022-01-02  153.672245   2.460251  11.557880         0.0
2  BARAJAS  2022-01-03  211.360993   3.755319  16.268085         0.0
3  BARAJAS  2022-01-04  215.056984   4.118138  16.729673         0.0
4  BARAJAS  2022-01-05  221.483669   4.444058  17.260598         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1198005
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2022-01-01  202.778153   1.968445   8.781711         0.0
1  CUATRO CAMINOS  2022-01-02  225.965473   2.247652   9.791557         0.0
2  CUATRO CAMINOS  2022-01-03  332.906548   3.673423  14.970986         0.0
3  CUATRO CAMINOS  2022-01-04  350.313657   4.139991  15.871157         0.0
4  CUATRO CAMINOS  2022-01-05  337.118017   4.306124  15.868095         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1011445
NO_URB     118355
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2022-01-01  291.657702   3.536300  13.075092   72.551504
1   RETIRO  2022-01-02  342.702456   4.281597  15.488469   70.609174
2   RETIRO  2022-01-03  461.138084   5.893185  20.435482   68.726690
3   RETIRO  2022-01-04  463.831900   6.308500  20.979389   63.848728
4   RETIRO  2022-01-05  447.582988   6.014324  20.317768   67.221568
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       750813
NO_URB    141580
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2022-01-01  248.796055   3.344186   9.234483   51.750721
1  PLAZA ELIPTICA  2022-01-02  278.144559   3.755532  10.021454   49.321476
2  PLAZA ELIPTICA  2022-01-03  400.106840   6.164143  14.830522   50.238275
3  PLAZA ELIPTICA  2022-01-04  379.460051   6.526325  14.964703   48.589698
4  PLAZA ELIPTICA  2022-01-05  390.181590   6.446706  15.236102   49.519787
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10794781 entries, 0 to 10794780
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 741.2+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              13329
carga                      0
vmed                     457
error                  37710
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10780995, 7)
BARAJAS
URB    45626
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2022-02-01  235.982843   5.910539  20.927696         0.0
1  BARAJAS  2022-02-02  238.567402   6.014706  21.199755         0.0
2  BARAJAS  2022-02-03  244.862661   6.144083  21.760883         0.0
3  BARAJAS  2022-02-04  254.261803   6.153893  22.453096         0.0
4  BARAJAS  2022-02-05  190.665848   4.303440  16.887592         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1088034
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2022-02-01  433.594471   5.538740  19.986992         0.0
1  CUATRO CAMINOS  2022-02-02  445.755399   5.713444  20.465278         0.0
2  CUATRO CAMINOS  2022-02-03  454.896224   5.895323  20.914411         0.0
3  CUATRO CAMINOS  2022-02-04  461.644301   5.933030  21.283697         0.0
4  CUATRO CAMINOS  2022-02-05  366.792430   4.116787  16.517229         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       913001
NO_URB     51984
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2022-02-01  532.348308   6.828594  23.067545   66.243590
1   RETIRO  2022-02-02  562.557721   7.241119  24.256749   66.762112
2   RETIRO  2022-02-03  566.745146   7.056271  24.179441   68.026499
3   RETIRO  2022-02-04  585.076637   7.604019  25.257553   67.578338
4   RETIRO  2022-02-05  470.260270   5.510637  20.081131   71.647776
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       698040
NO_URB    120014
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2022-02-01  496.038494   7.335789  15.812825   54.444167
1  PLAZA ELIPTICA  2022-02-02  499.545082   7.443818  15.978040   54.093333
2  PLAZA ELIPTICA  2022-02-03  506.345222   7.592411  16.395190   54.190417
3  PLAZA ELIPTICA  2022-02-04  514.403570   7.806630  16.847841   54.424792
4  PLAZA ELIPTICA  2022-02-05  466.430216   6.371810  14.188184   54.455625
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11796900 entries, 0 to 11796899
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 810.0+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              17882
carga                      0
vmed                       0
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11779018, 7)
BARAJAS
URB    50397
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2022-03-01  253.773897   6.183211  22.260417         0.0
1  BARAJAS  2022-03-02  254.098652   6.492647  22.468750         0.0
2  BARAJAS  2022-03-03  255.405405   6.296683  22.504300         0.0
3  BARAJAS  2022-03-04  266.347853   6.701227  23.514110         0.0
4  BARAJAS  2022-03-05  199.958809   4.527250  17.744613         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1200841
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2022-03-01  450.656932   5.851086  20.628893         0.0
1  CUATRO CAMINOS  2022-03-02  459.606949   6.014884  21.146701         0.0
2  CUATRO CAMINOS  2022-03-03  467.951841   6.585609  21.812582         0.0
3  CUATRO CAMINOS  2022-03-04  470.630619   6.199123  21.819299         0.0
4  CUATRO CAMINOS  2022-03-05  381.344861   4.419858  17.232959         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1015979
NO_URB      34284
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2022-03-01  477.742649   7.068748  22.008329   56.289572
1   RETIRO  2022-03-02  490.087318   7.429100  22.725564   57.096099
2   RETIRO  2022-03-03  497.887193   7.782237  23.310915   56.915584
3   RETIRO  2022-03-04  514.697294   7.902280  24.085720   57.647436
4   RETIRO  2022-03-05  399.936531   5.883669  19.103202   60.280109
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       811383
NO_URB    125991
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2022-03-01  404.737250   7.678429  16.095038   47.949850
1  PLAZA ELIPTICA  2022-03-02  399.638159   7.469378  15.937933   47.863195
2  PLAZA ELIPTICA  2022-03-03  397.524988   7.796110  16.363240   47.439920
3  PLAZA ELIPTICA  2022-03-04  410.838888   7.904430  16.924325   49.056049
4  PLAZA ELIPTICA  2022-03-05  333.793045   5.971698  14.123018   51.504685
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11323906 entries, 0 to 11323905
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 777.6+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              25179
carga                      0
vmed                       0
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11298727, 7)
BARAJAS
URB    47779
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2022-04-01  274.459841   6.714899  24.153280         0.0
1  BARAJAS  2022-04-02  203.191176   4.781863  18.050858         0.0
2  BARAJAS  2022-04-03  184.897012   3.784488  16.405594         0.0
3  BARAJAS  2022-04-04  249.272226   6.123850  22.003679         0.0
4  BARAJAS  2022-04-05  255.352941   6.454044  22.537990         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1149056
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2022-04-01  474.069110   5.915903  21.694819         0.0
1  CUATRO CAMINOS  2022-04-02  367.360581   3.940560  16.475521         0.0
2  CUATRO CAMINOS  2022-04-03  310.554695   3.162447  13.880113         0.0
3  CUATRO CAMINOS  2022-04-04  433.837079   5.221674  19.691545         0.0
4  CUATRO CAMINOS  2022-04-05  450.301687   5.682969  20.533292         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       965504
NO_URB     32608
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2022-04-01  519.607517   7.987668  24.211561   55.657674
1   RETIRO  2022-04-02  397.334783   5.566128  18.787808   55.453542
2   RETIRO  2022-04-03  347.783185   5.006884  16.762860   55.877289
3   RETIRO  2022-04-04  466.804902   6.785247  21.527395   57.203929
4   RETIRO  2022-04-05  485.561702   7.267029  22.460206   50.787273
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       785168
NO_URB    120038
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2022-04-01  416.074269   8.004403  17.028703   49.561845
1  PLAZA ELIPTICA  2022-04-02  328.633629   5.784147  13.625585   50.931932
2  PLAZA ELIPTICA  2022-04-03  291.879483   4.866721  11.755825   51.890691
3  PLAZA ELIPTICA  2022-04-04  379.220916   7.173897  15.460397   48.575230
4  PLAZA ELIPTICA  2022-04-05  387.733068   7.087625  14.882533   46.850199
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11732565 entries, 0 to 11732564
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 805.6+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              21351
carga                      0
vmed                       0
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11711214, 7)
BARAJAS
URB    35003
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2022-05-01  156.276750   2.828640  13.776348         0.0
1  BARAJAS  2022-05-02  140.443548   2.539516  12.366935         0.0
2  BARAJAS  2022-05-03  241.524077   6.888443  23.155698         0.0
3  BARAJAS  2022-05-04  238.358460   6.775461  22.504411         0.0
4  BARAJAS  2022-05-05  256.447942   6.302663  23.806295         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1191738
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2022-05-01  282.068726   2.789701  12.496372         0.0
1  CUATRO CAMINOS  2022-05-02  247.273664   2.473019  10.999636         0.0
2  CUATRO CAMINOS  2022-05-03  436.745627   5.443972  19.932449         0.0
3  CUATRO CAMINOS  2022-05-04  462.539075   6.179432  21.169410         0.0
4  CUATRO CAMINOS  2022-05-05  486.419272   6.251107  22.059267         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1012069
NO_URB      33227
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2022-05-01  335.603746   4.980362  16.128851   57.407978
1   RETIRO  2022-05-02  293.717891   4.125095  13.873967   57.490358
2   RETIRO  2022-05-03  478.663951   7.238740  22.225016   52.475068
3   RETIRO  2022-05-04  493.381041   7.635491  22.900186   53.865065
4   RETIRO  2022-05-05  517.076984   7.960700  24.001264   55.919668
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       805388
NO_URB    125634
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2022-05-01  303.171262   5.020170  12.319031   50.120741
1  PLAZA ELIPTICA  2022-05-02  264.810705   4.300789  10.867314   51.403351
2  PLAZA ELIPTICA  2022-05-03  401.719682   7.404425  15.771881   48.381618
3  PLAZA ELIPTICA  2022-05-04  398.943591   7.245241  15.811235   48.150634
4  PLAZA ELIPTICA  2022-05-05  418.770988   7.694147  16.696495   48.521793
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399709 entries, 0 to 11399708
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 782.8+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              19802
carga                      0
vmed                       0
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11379907, 7)
BARAJAS
URB    51288
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2022-06-01  232.990856   6.521228  22.026780         0.0
1  BARAJAS  2022-06-02  247.949142   6.433824  22.645833         0.0
2  BARAJAS  2022-06-03  252.014510   6.210679  22.574579         0.0
3  BARAJAS  2022-06-04  185.687063   4.110140  16.683566         0.0
4  BARAJAS  2022-06-05  166.706947   3.394629  14.657910         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1149423
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2022-06-01  458.986448   6.062120  20.954328         0.0
1  CUATRO CAMINOS  2022-06-02  477.503752   6.182521  21.647335         0.0
2  CUATRO CAMINOS  2022-06-03  470.618012   5.780717  21.263976         0.0
3  CUATRO CAMINOS  2022-06-04  355.944710   3.798041  15.632093         0.0
4  CUATRO CAMINOS  2022-06-05  303.490576   3.124543  13.312650         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       985398
NO_URB     33132
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2022-06-01  496.355070   8.192090  23.490960   56.758109
1   RETIRO  2022-06-02  519.390815   8.374756  24.390281   56.565297
2   RETIRO  2022-06-03  526.074135   8.203061  24.530007   57.455140
3   RETIRO  2022-06-04  404.382472   5.984414  19.282699   59.885141
4   RETIRO  2022-06-05  355.409562   5.122751  16.958778   60.063291
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       782409
NO_URB    121940
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2022-06-01  406.300419   7.220185  15.534997   47.758747

In [ ]:
# 2023
path = '/content/drive/MyDrive/madrid_traffic_data/original/2023/'
d_month = ['01-2023', '02-2023', '03-2023', '04-2023', '05-2023', '06-2023',
           '07-2023', '08-2023', '09-2023', '10-2023', '11-2023', '12-2023']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12644350 entries, 0 to 12644349
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 868.2+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              31070
carga                      0
vmed                    3475
error                  25882
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(12609805, 7)
BARAJAS
URB    53185
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2023-01-01  134.065371   2.544170  11.347468         0.0
1  BARAJAS  2023-01-02  176.507331   3.743109  15.258065         0.0
2  BARAJAS  2023-01-03  194.419242   4.217493  16.774927         0.0
3  BARAJAS  2023-01-04  196.511655   4.382867  17.044289         0.0
4  BARAJAS  2023-01-05  199.914319   5.179577  17.565728         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1163568
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2023-01-01  243.515140   2.602098  10.810009         0.0
1  CUATRO CAMINOS  2023-01-02  338.656460   3.747577  15.132940         0.0
2  CUATRO CAMINOS  2023-01-03  379.012476   4.265944  16.916165         0.0
3  CUATRO CAMINOS  2023-01-04  394.840335   4.676683  17.569116         0.0
4  CUATRO CAMINOS  2023-01-05  370.424173   4.642152  17.147788         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1018972
NO_URB     118495
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2023-01-01  322.495403   3.713366  14.475814   73.839714
1   RETIRO  2023-01-02  438.939558   5.633221  19.912780   70.102941
2   RETIRO  2023-01-03  470.127556   6.280471  21.522550   68.813459
3   RETIRO  2023-01-04  484.761064   6.495770  22.200501   69.842471
4   RETIRO  2023-01-05  460.512811   6.047274  20.653181   69.734996
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       828237
NO_URB    134370
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2023-01-01  221.355961   3.994332  11.557625   42.379551
1  PLAZA ELIPTICA  2023-01-02  274.026626   5.412603  14.375652   48.068598
2  PLAZA ELIPTICA  2023-01-03  289.422946   6.031326  15.368383   47.869665
3  PLAZA ELIPTICA  2023-01-04  286.399051   6.655695  15.845582   46.670732
4  PLAZA ELIPTICA  2023-01-05  352.363294   6.300892  15.129132   51.747735
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11388974 entries, 0 to 11388973
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 782.0+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              20427
carga                      0
vmed                    4638
error                  32591
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11363909, 7)
BARAJAS
URB    47975
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2023-02-01  231.240279   5.603018  20.426001         0.0
1  BARAJAS  2023-02-02  232.901170   5.611696  20.456140         0.0
2  BARAJAS  2023-02-03  242.539489   5.670151  21.353659         0.0
3  BARAJAS  2023-02-04  182.026822   3.775510  16.115452         0.0
4  BARAJAS  2023-02-05  159.039836   3.070885  13.684241         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1047089
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2023-02-01  461.322899   6.031382  21.009902         0.0
1  CUATRO CAMINOS  2023-02-02  473.992331   6.293323  21.489330         0.0
2  CUATRO CAMINOS  2023-02-03  473.562860   5.979323  21.430984         0.0
3  CUATRO CAMINOS  2023-02-04  373.820067   4.028410  16.460916         0.0
4  CUATRO CAMINOS  2023-02-05  313.814348   3.244095  13.754047         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       911153
NO_URB    107148
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2023-02-01  553.181113   7.432824  24.014870   65.892332
1   RETIRO  2023-02-02  560.574387   7.342207  24.284622   66.476353
2   RETIRO  2023-02-03  573.199792   7.679638  25.069159   67.731378
3   RETIRO  2023-02-04  456.525293   5.827097  20.363194   71.225890
4   RETIRO  2023-02-05  404.541594   5.103518  18.082338   71.862745
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       733143
NO_URB    123958
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2023-02-01  389.235795   7.131873  15.742300   47.850849
1  PLAZA ELIPTICA  2023-02-02  398.422423   7.368963  16.145495   49.834326
2  PLAZA ELIPTICA  2023-02-03  401.368603   7.514244  16.679152   50.203510
3  PLAZA ELIPTICA  2023-02-04  327.410460   5.651245  13.770537   52.748023
4  PLAZA ELIPTICA  2023-02-05  292.298887   4.655356  11.987418   53.070429
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12732652 entries, 0 to 12732651
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 874.3+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              21407
carga                      0
vmed                    2689
error                  20660
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(12708556, 7)
BARAJAS
URB    53033
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2023-03-01  234.277907   5.678488  20.661628         0.0
1  BARAJAS  2023-03-02  234.777842   5.622390  20.642111         0.0
2  BARAJAS  2023-03-03  244.810575   5.692040  21.482859         0.0
3  BARAJAS  2023-03-04  189.864535   3.997674  16.815116         0.0
4  BARAJAS  2023-03-05  157.979556   3.120327  13.616822         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1173727
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2023-03-01  458.440167   6.034738  20.935692         0.0
1  CUATRO CAMINOS  2023-03-02  468.302797   6.738638  21.648304         0.0
2  CUATRO CAMINOS  2023-03-03  471.884193   6.036241  21.542953         0.0
3  CUATRO CAMINOS  2023-03-04  366.703222   4.122409  16.348711         0.0
4  CUATRO CAMINOS  2023-03-05  306.979039   3.414675  13.831019         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1012626
NO_URB     118680
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2023-03-01  549.663717   7.642851  24.085703   65.651499
1   RETIRO  2023-03-02  560.033787   7.580502  24.394948   65.324089
2   RETIRO  2023-03-03  578.534458   8.069241  25.423775   66.709162
3   RETIRO  2023-03-04  461.050278   6.240666  20.822202   71.559628
4   RETIRO  2023-03-05  398.250483   5.132338  17.947848   71.315504
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       829843
NO_URB    136468
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2023-03-01  401.558707   7.319344  15.961955   48.615631
1  PLAZA ELIPTICA  2023-03-02  402.736594   7.211576  15.951084   49.807789
2  PLAZA ELIPTICA  2023-03-03  417.907028   7.694041  16.745034   50.488955
3  PLAZA ELIPTICA  2023-03-04  345.122909   5.962429  14.105797   53.443135
4  PLAZA ELIPTICA  2023-03-05  298.367539   4.888052  12.080410   54.003221
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12438772 entries, 0 to 12438771
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 854.1+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              23100
carga                      0
vmed                    2270
error                   4957
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(12413402, 7)
BARAJAS
URB    51396
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2023-04-01  172.507009   3.491822  14.956776         0.0
1  BARAJAS  2023-04-02  151.663146   2.718310  12.743545         0.0
2  BARAJAS  2023-04-03  190.264107   4.112856  16.386271         0.0
3  BARAJAS  2023-04-04  189.697484   4.065535  16.220597         0.0
4  BARAJAS  2023-04-05  182.352326   4.083721  15.781395         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1172058
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2023-04-01  319.771118   3.202302  13.940061         0.0
1  CUATRO CAMINOS  2023-04-02  268.607185   2.761112  11.830210         0.0
2  CUATRO CAMINOS  2023-04-03  336.674925   3.635083  15.052153         0.0
3  CUATRO CAMINOS  2023-04-04  337.122568   3.592742  15.002339         0.0
4  CUATRO CAMINOS  2023-04-05  312.441064   3.360531  14.034051         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       997139
NO_URB    115649
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2023-04-01  430.515887   5.436779  19.316948   72.293849
1   RETIRO  2023-04-02  374.575700   4.678662  16.723522   72.797459
2   RETIRO  2023-04-03  463.561362   5.807330  20.102148   70.120112
3   RETIRO  2023-04-04  467.794975   5.863052  20.272717   68.731205
4   RETIRO  2023-04-05  447.873881   5.661506  19.410531   69.308333
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       806582
NO_URB    131525
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2023-04-01  305.633688   5.292175  13.680415   52.679713
1  PLAZA ELIPTICA  2023-04-02  274.404926   4.598380  11.965224   52.795387
2  PLAZA ELIPTICA  2023-04-03  358.487015   6.066684  14.458206   54.054830
3  PLAZA ELIPTICA  2023-04-04  355.164793   5.974617  14.255275   48.903278
4  PLAZA ELIPTICA  2023-04-05  348.365770   5.741742  13.754565   50.518459
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12926315 entries, 0 to 12926314
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 887.6+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              19105
carga                      0
vmed                    2616
error                   7593
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(12904594, 7)
BARAJAS
URB    53234
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2023-05-01  142.696827   2.749706  12.098707         0.0
1  BARAJAS  2023-05-02  156.075704   2.957160  13.080986         0.0
2  BARAJAS  2023-05-03  242.581787   5.856148  21.266821         0.0
3  BARAJAS  2023-05-04  250.066202   6.462253  22.182927         0.0
4  BARAJAS  2023-05-05  252.889663   6.736353  22.603949         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1226887
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2023-05-01  215.551907   2.152024   9.403593         0.0
1  CUATRO CAMINOS  2023-05-02  244.019669   2.382878  10.633259         0.0
2  CUATRO CAMINOS  2023-05-03  441.217266   5.330289  19.634795         0.0
3  CUATRO CAMINOS  2023-05-04  465.492314   5.775605  20.739793         0.0
4  CUATRO CAMINOS  2023-05-05  474.607875   6.040128  21.297714         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1073318
NO_URB     118912
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2023-05-01  310.850860   3.630185  13.518350   71.886617
1   RETIRO  2023-05-02  340.487276   3.948184  14.767314   71.904305
2   RETIRO  2023-05-03  532.426298   7.083584  23.278658   67.744801
3   RETIRO  2023-05-04  559.929067   7.575262  24.260168   65.725844
4   RETIRO  2023-05-05  578.027860   8.037842  25.428017   65.289802
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       830839
NO_URB    137406
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2023-05-01  239.347383   3.806933   9.755567   52.426004
1  PLAZA ELIPTICA  2023-05-02  262.318749   4.331540  10.778077   52.922647
2  PLAZA ELIPTICA  2023-05-03  376.953955   7.355157  16.388345   55.691803
3  PLAZA ELIPTICA  2023-05-04  418.271846   7.723368  16.632294   54.336910
4  PLAZA ELIPTICA  2023-05-05  423.200560   7.935559  17.266039   49.642308
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12485567 entries, 0 to 12485566
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 857.3+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              18166
carga                      0
vmed                    1815
error                   3498
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(12465586, 7)
BARAJAS
URB    51089
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2023-06-01  249.296339   5.933759  21.937827         0.0
1  BARAJAS  2023-06-02  262.516241   6.390371  22.952436         0.0
2  BARAJAS  2023-06-03  194.548368   4.322261  17.008741         0.0
3  BARAJAS  2023-06-04  167.297723   3.530064  14.453590         0.0
4  BARAJAS  2023-06-05  236.761324   5.671893  20.724739         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1193026
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2023-06-01  466.293921   5.953915  21.038107         0.0
1  CUATRO CAMINOS  2023-06-02  469.634969   5.648229  21.057465         0.0
2  CUATRO CAMINOS  2023-06-03  363.967775   3.838800  15.878900         0.0
3  CUATRO CAMINOS  2023-06-04  319.503544   3.250214  13.851063         0.0
4  CUATRO CAMINOS  2023-06-05  432.030144   5.101278  19.260958         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1039691
NO_URB     113587
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2023-06-01  564.568763   8.048554  25.109012   63.152294
1   RETIRO  2023-06-02  573.107105   7.808840  25.343922   66.366428
2   RETIRO  2023-06-03  466.705980   6.052809  20.894279   71.893999
3   RETIRO  2023-06-04  416.069678   5.079117  18.506185   72.165545
4   RETIRO  2023-06-05  523.394930   6.841650  22.898520   65.914496
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       803868
NO_URB    133464
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2023-06-01  414.127724   7.191264  16.419448   48.755166

In [ ]:
# 2020
path = '/content/drive/MyDrive/madrid_traffic_data/original/2020/'
d_month = ['01-2020', '02-2020', '03-2020', '04-2020', '05-2020', '06-2020',
           '07-2020', '08-2020', '09-2020', '10-2020', '11-2020', '12-2020']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11577408 entries, 0 to 11577407
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 795.0+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              24484
carga                      0
vmed                    7779
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11545145, 7)
BARAJAS
URB    50133
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2020-01-01  161.152587   4.219384  13.220039         0.0
1  BARAJAS  2020-01-02  224.902153   6.388780  18.973907         0.0
2  BARAJAS  2020-01-03  234.232376   6.456266  19.665144         0.0
3  BARAJAS  2020-01-04  194.842172   5.551768  16.945707         0.0
4  BARAJAS  2020-01-05  177.733951   5.114198  15.458642         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1186065
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2020-01-01  274.187976   2.791234  11.682805         0.0
1  CUATRO CAMINOS  2020-01-02  407.625901   4.551826  17.637911         0.0
2  CUATRO CAMINOS  2020-01-03  443.264139   5.297582  19.316061         0.0
3  CUATRO CAMINOS  2020-01-04  353.443501   4.053781  15.305493         0.0
4  CUATRO CAMINOS  2020-01-05  311.467989   3.920587  14.080576         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       980255
NO_URB    118162
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2020-01-01  365.134593   4.285305  16.211480   72.523993
1   RETIRO  2020-01-02  527.512508   6.743718  23.582712   69.056133
2   RETIRO  2020-01-03  555.906955   7.455625  25.279614   68.905184
3   RETIRO  2020-01-04  447.724764   5.747875  20.637394   72.015820
4   RETIRO  2020-01-05  382.565311   4.762516  17.824716   72.729345
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       687579
NO_URB    136387
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2020-01-01  320.782307   5.170878  12.264621   52.989588
1  PLAZA ELIPTICA  2020-01-02  414.544132   7.522234  16.219802   51.160592
2  PLAZA ELIPTICA  2020-01-03  434.988812   7.777158  16.917943   51.109611
3  PLAZA ELIPTICA  2020-01-04  387.738051   6.775816  14.726993   51.770533
4  PLAZA ELIPTICA  2020-01-05  328.630533   5.537691  13.166437   52.741722
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10926382 entries, 0 to 10926381
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 750.3+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              17869
carga                      0
vmed                    6044
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10902469, 7)
BARAJAS
URB    47113
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2020-02-01  208.716564   5.721472  18.552147         0.0
1  BARAJAS  2020-02-02  175.866011   5.056546  15.533497         0.0
2  BARAJAS  2020-02-03  270.887255   8.003064  23.633578         0.0
3  BARAJAS  2020-02-04  278.048071   8.070209  24.603416         0.0
4  BARAJAS  2020-02-05  274.473259   8.042910  23.854478         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1114328
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2020-02-01  422.196456   4.674868  18.364567         0.0
1  CUATRO CAMINOS  2020-02-02  351.878397   3.501372  15.201506         0.0
2  CUATRO CAMINOS  2020-02-03  533.016591   6.097908  23.017506         0.0
3  CUATRO CAMINOS  2020-02-04  522.397396   6.427205  22.870238         0.0
4  CUATRO CAMINOS  2020-02-05  526.737533   6.706024  23.004921         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       915057
NO_URB    110863
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2020-02-01  491.403495   6.104162  22.415722   71.608707
1   RETIRO  2020-02-02  440.058478   5.447496  20.168377   72.923731
2   RETIRO  2020-02-03  643.289583   8.612251  28.670778   66.991120
3   RETIRO  2020-02-04  593.627995   8.087933  26.905836   65.273182
4   RETIRO  2020-02-05  607.066818   8.074854  27.033568   64.752742
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       656106
NO_URB    129548
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2020-02-01  384.032046   6.544156  15.075685   53.107828
1  PLAZA ELIPTICA  2020-02-02  341.361071   5.295291  12.843620   53.396384
2  PLAZA ELIPTICA  2020-02-03  458.057416   8.159085  17.418976   50.513149
3  PLAZA ELIPTICA  2020-02-04  460.314092   8.269775  17.500335   49.110127
4  PLAZA ELIPTICA  2020-02-05  468.009934   8.419122  17.680140   50.234945
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11240571 entries, 0 to 11240570
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 771.8+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              44627
carga                      0
vmed                   11261
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11184683, 7)
BARAJAS
URB    49494
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2020-03-01  168.658672   4.378844  14.426814         0.0
1  BARAJAS  2020-03-02  251.028799   7.051471  21.884191         0.0
2  BARAJAS  2020-03-03  268.846201   8.414828  23.878064         0.0
3  BARAJAS  2020-03-04  273.719191   8.066830  24.066830         0.0
4  BARAJAS  2020-03-05  273.954657   8.126225  24.101716         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1134610
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2020-03-01  353.153300   3.924551  15.276446         0.0
1  CUATRO CAMINOS  2020-03-02  488.390729   5.605981  21.124158         0.0
2  CUATRO CAMINOS  2020-03-03  520.254195   6.563327  22.744917         0.0
3  CUATRO CAMINOS  2020-03-04  528.368660   6.797302  23.164319         0.0
4  CUATRO CAMINOS  2020-03-05  538.780633   6.851540  23.553526         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       916622
NO_URB    115414
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2020-03-01  430.180153   5.250035  19.256785   72.833639
1   RETIRO  2020-03-02  575.408688   7.281541  25.136651   68.387507
2   RETIRO  2020-03-03  599.717808   8.586016  26.844431   65.016393
3   RETIRO  2020-03-04  617.126270   8.672638  27.369188   66.430110
4   RETIRO  2020-03-05  628.207123   8.816838  27.909259   65.670272
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       686661
NO_URB    135548
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2020-03-01  341.231639   5.313891  12.798557   54.841574
1  PLAZA ELIPTICA  2020-03-02  457.007885   7.546257  16.695094   52.742529
2  PLAZA ELIPTICA  2020-03-03  473.187411   8.158275  17.499580   50.757199
3  PLAZA ELIPTICA  2020-03-04  483.813588   8.283962  17.708992   51.536484
4  PLAZA ELIPTICA  2020-03-05  495.501969   8.472867  18.015390   52.051405
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10603087 entries, 0 to 10603086
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 728.1+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              60356
carga                      0
vmed                   26826
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10515905, 7)
BARAJAS
URB    46582
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0  BARAJAS  2020-04-01   56.573520   1.953533  4.490134         0.0
1  BARAJAS  2020-04-02   54.466752   1.840153  4.287724         0.0
2  BARAJAS  2020-04-03   56.775432   1.884197  4.517594         0.0
3  BARAJAS  2020-04-04   43.728825   1.432042  3.251477         0.0
4  BARAJAS  2020-04-05   36.688660   1.281787  2.492096         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1054142
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0  CUATRO CAMINOS  2020-04-01   95.803940   1.341551  4.179907         0.0
1  CUATRO CAMINOS  2020-04-02   96.451749   1.275813  4.186256         0.0
2  CUATRO CAMINOS  2020-04-03  100.240641   1.311842  4.348240         0.0
3  CUATRO CAMINOS  2020-04-04   67.354451   1.007463  2.861581         0.0
4  CUATRO CAMINOS  2020-04-05   58.128127   1.016618  2.355059         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       869145
NO_URB    110371
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0   RETIRO  2020-04-01  146.003746   1.807398  5.879183   62.504617
1   RETIRO  2020-04-02  134.230232   1.799360  5.872552   62.324595
2   RETIRO  2020-04-03  137.189002   1.834912  6.053538   62.821899
3   RETIRO  2020-04-04   87.896849   1.327143  3.998961   57.952931
4   RETIRO  2020-04-05   73.729287   1.185865  3.343317   52.473354
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       653383
NO_URB    126040
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0  PLAZA ELIPTICA  2020-04-01  110.368317   2.186783  4.990697   42.887512
1  PLAZA ELIPTICA  2020-04-02  113.690466   2.334014  5.253017   42.781874
2  PLAZA ELIPTICA  2020-04-03  119.873782   2.370104  5.475061   43.284094
3  PLAZA ELIPTICA  2020-04-04   74.751655   1.760367  3.953653   38.304807
4  PLAZA ELIPTICA  2020-04-05   78.183797   1.989517  4.514813   32.806601
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10905113 entries, 0 to 10905112
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 748.8+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              34908
carga                      0
vmed                   14675
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10855530, 7)
BARAJAS
URB    49654
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0  BARAJAS  2020-05-01   43.148124   1.318631  2.965767         0.0
1  BARAJAS  2020-05-02   50.459269   1.578576  4.025657         0.0
2  BARAJAS  2020-05-03   46.214103   1.457692  3.491026         0.0
3  BARAJAS  2020-05-04   81.881132   2.571069  6.972327         0.0
4  BARAJAS  2020-05-05   80.407291   2.556254  6.918919         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1083622
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0  CUATRO CAMINOS  2020-05-01   66.291585   0.814196  2.784663         0.0
1  CUATRO CAMINOS  2020-05-02   74.784818   0.900272  3.242643         0.0
2  CUATRO CAMINOS  2020-05-03   70.439983   0.838443  2.982711         0.0
3  CUATRO CAMINOS  2020-05-04  159.819533   1.713655  6.931698         0.0
4  CUATRO CAMINOS  2020-05-05  167.391001   1.907286  7.269018         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       911112
NO_URB    105679
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0   RETIRO  2020-05-01   83.407287   1.140342  3.798657   57.124371
1   RETIRO  2020-05-02   95.568412   1.286101  4.386492   57.891826
2   RETIRO  2020-05-03   87.901608   1.272490  4.103458   56.149957
3   RETIRO  2020-05-04  216.307811   2.384970  9.219438   64.316866
4   RETIRO  2020-05-05  219.257972   2.491438  9.389857   63.711087
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       668472
NO_URB     94538
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion     carga  vmed_noURB
0  PLAZA ELIPTICA  2020-05-01   74.497338   1.686477  3.957763   38.495864
1  PLAZA ELIPTICA  2020-05-02   87.926324   2.121896  4.800530   39.165320
2  PLAZA ELIPTICA  2020-05-03   75.966955   1.622126  4.000857   38.399358
3  PLAZA ELIPTICA  2020-05-04  195.726040   3.271561  7.903058   46.307309
4  PLAZA ELIPTICA  2020-05-05  195.638503   3.276662  7.828266   46.092769
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10552512 entries, 0 to 10552511
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            int64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: int64(6), object(3)
memory usage: 724.6+ MB
None
id                     0
fecha                  0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10552512, 7)
BARAJAS
URB    48795
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2020-06-01  142.492923   4.336000  12.583385         0.0
1  BARAJAS  2020-06-02  146.294479   4.371779  12.953374         0.0
2  BARAJAS  2020-06-03  149.457950   4.278699  13.125230         0.0
3  BARAJAS  2020-06-04  147.144963   4.249386  12.911548         0.0
4  BARAJAS  2020-06-05  160.263642   4.600245  14.183323         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1086513
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2020-06-01  293.604430   3.220927  12.780288         0.0
1  CUATRO CAMINOS  2020-06-02  301.398755   3.270396  13.072084         0.0
2  CUATRO CAMINOS  2020-06-03  310.534214   3.349319  13.486832         0.0
3  CUATRO CAMINOS  2020-06-04  315.968207   3.392276  13.717884         0.0
4  CUATRO CAMINOS  2020-06-05  324.796253   3.537200  14.241195         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       912174
NO_URB     83167
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2020-06-01  361.364723   3.900446  16.113337   76.197455
1   RETIRO  2020-06-02  369.149596   3.950197  16.438302   75.338855
2   RETIRO  2020-06-03  379.295415   4.055861  16.880270   76.239350
3   RETIRO  2020-06-04  382.726329   4.090413  17.023686   76.728807
4   RETIRO  2020-06-05  391.333776   4.232871  17.501251   77.253699
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       632673
NO_URB     17271
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2020-06-01  267.074358   5.913025  15.454495   69.947276
1  PLAZA ELIPTICA  2020-06-02  270.453550   6.157865  15.788260   69.968750
2  PLAZA ELIPTICA  2020-06-03  275.580052   5.940629  15.675680   69.793403

In [ ]:
# 2019
path = '/content/drive/MyDrive/madrid_traffic_data/original/2019/'
d_month = ['01-2019', '02-2019', '03-2019', '04-2019', '05-2019', '06-2019',
           '07-2019', '08-2019', '09-2019', '10-2019', '11-2019', '12-2019']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11203627 entries, 0 to 11203626
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 769.3+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              23069
carga                      0
vmed                    2546
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11178012, 7)
BARAJAS
URB    50402
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2019-01-01  160.954405   4.266790  13.605052         0.0
1  BARAJAS  2019-01-02  229.185989   6.641662  19.834470         0.0
2  BARAJAS  2019-01-03  244.863887   6.926426  21.242796         0.0
3  BARAJAS  2019-01-04  247.564951   6.957721  21.568627         0.0
4  BARAJAS  2019-01-05  202.869511   6.066172  17.965986         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1182450
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2019-01-01  273.781238   2.996484  11.915563         0.0
1  CUATRO CAMINOS  2019-01-02  400.594988   4.621991  17.693838         0.0
2  CUATRO CAMINOS  2019-01-03  438.171950   5.281508  19.499163         0.0
3  CUATRO CAMINOS  2019-01-04  454.488151   5.637107  20.183391         0.0
4  CUATRO CAMINOS  2019-01-05  342.751531   4.048627  15.553511         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       953996
NO_URB    119204
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2019-01-01  370.898231   4.013063  15.870447   67.674903
1   RETIRO  2019-01-02  530.664017   6.230904  23.218018   63.006487
2   RETIRO  2019-01-03  559.842470   6.777613  24.667653   63.269489
3   RETIRO  2019-01-04  583.707892   6.901290  25.645432   62.042377
4   RETIRO  2019-01-05  420.544026   4.732077  18.842536   66.047287
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       667632
NO_URB    142357
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2019-01-01  332.283715   4.982361  12.224779   53.827479
1  PLAZA ELIPTICA  2019-01-02  433.774010   7.272562  16.224329   50.967560
2  PLAZA ELIPTICA  2019-01-03  459.631377   8.032988  17.324357   50.812089
3  PLAZA ELIPTICA  2019-01-04  473.675107   8.322288  17.705447   50.201733
4  PLAZA ELIPTICA  2019-01-05  382.046120   6.113943  14.467464   53.623663
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10060856 entries, 0 to 10060855
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 690.8+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              21490
carga                      0
vmed                    1722
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10037644, 7)
BARAJAS
URB    45654
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2019-02-01  275.759804   8.407475  24.531863         0.0
1  BARAJAS  2019-02-02  194.197546   5.707975  17.342331         0.0
2  BARAJAS  2019-02-03  167.776890   4.956976  14.893669         0.0
3  BARAJAS  2019-02-04  258.473620   7.828834  22.963190         0.0
4  BARAJAS  2019-02-05  277.740196   7.982230  24.188113         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1079231
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2019-02-01  499.750886   6.162027  22.835236         0.0
1  CUATRO CAMINOS  2019-02-02  369.990588   4.076855  16.834902         0.0
2  CUATRO CAMINOS  2019-02-03  321.183312   3.412765  14.365111         0.0
3  CUATRO CAMINOS  2019-02-04  465.060941   5.310734  20.623026         0.0
4  CUATRO CAMINOS  2019-02-05  479.258694   5.575807  21.267466         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       873681
NO_URB    106259
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2019-02-01  665.155000   7.246322  25.489955   64.371174
1   RETIRO  2019-02-02  632.066353   4.800285  19.158045   70.440114
2   RETIRO  2019-02-03  425.077495   4.090082  16.783877   71.085287
3   RETIRO  2019-02-04  551.146670   6.209203  23.203687   66.018378
4   RETIRO  2019-02-05  556.420255   6.476117  23.781175   63.916399
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       592893
NO_URB    128048
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2019-02-01  501.953168   8.862326  18.374343   49.140328
1  PLAZA ELIPTICA  2019-02-02  428.847262   6.970263  15.181241   52.189893
2  PLAZA ELIPTICA  2019-02-03  377.032699   5.656309  12.991078   52.448715
3  PLAZA ELIPTICA  2019-02-04  483.185772   8.392675  17.697516   48.931012
4  PLAZA ELIPTICA  2019-02-05  477.863319   8.318436  17.395427   47.297733
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11096650 entries, 0 to 11096649
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 761.9+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              22607
carga                      0
vmed                    1748
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11072295, 7)
BARAJAS
URB    49397
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2019-03-01  280.322304   7.731005  24.356005         0.0
1  BARAJAS  2019-03-02  209.337224   5.935504  18.477273         0.0
2  BARAJAS  2019-03-03  190.105651   4.954545  16.216216         0.0
3  BARAJAS  2019-03-04  262.060923   7.516308  22.772923         0.0
4  BARAJAS  2019-03-05  285.359730   8.387354  24.953346         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1181648
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2019-03-01  529.539384   6.390312  23.215079         0.0
1  CUATRO CAMINOS  2019-03-02  399.808834   4.435883  17.383156         0.0
2  CUATRO CAMINOS  2019-03-03  341.196268   3.614717  14.799190         0.0
3  CUATRO CAMINOS  2019-03-04  492.997591   5.761942  21.491555         0.0
4  CUATRO CAMINOS  2019-03-05  533.604984   7.099751  23.655183         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       968050
NO_URB    116236
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2019-03-01  639.125480   7.977322  27.739522   63.505315
1   RETIRO  2019-03-02  485.311843   5.550193  21.076678   69.391304
2   RETIRO  2019-03-03  448.716745   5.163429  19.543576   70.715172
3   RETIRO  2019-03-04  586.222071   7.237161  25.415551   65.892332
4   RETIRO  2019-03-05  611.254887   8.054040  26.701955   62.717573
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       659882
NO_URB    141757
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2019-03-01  508.516799   8.343748  18.074148   51.141869
1  PLAZA ELIPTICA  2019-03-02  402.642130   6.321701  14.731087   54.081642
2  PLAZA ELIPTICA  2019-03-03  378.627492   5.499573  13.383058   54.139550
3  PLAZA ELIPTICA  2019-03-04  483.569889   7.759839  17.170331   51.756349
4  PLAZA ELIPTICA  2019-03-05  506.677756   8.519561  18.111899   49.771042
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10542041 entries, 0 to 10542040
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 723.9+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              22992
carga                      0
vmed                    2016
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10517033, 7)
BARAJAS
URB    46496
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2019-04-01  284.186275   8.642484  24.416993         0.0
1  BARAJAS  2019-04-02  292.276873   8.818241  25.142020         0.0
2  BARAJAS  2019-04-03  293.801432   8.794922  25.136068         0.0
3  BARAJAS  2019-04-04  300.472005   8.839844  25.681641         0.0
4  BARAJAS  2019-04-05  311.273438   9.356120  26.615885         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1090057
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2019-04-01  511.955748   6.123805  22.452025         0.0
1  CUATRO CAMINOS  2019-04-02  386.729959   5.316788  18.028235         0.0
2  CUATRO CAMINOS  2019-04-03  637.014342   8.117244  28.609389         0.0
3  CUATRO CAMINOS  2019-04-04  559.499306   7.199504  24.698463         0.0
4  CUATRO CAMINOS  2019-04-05  562.643845   7.500479  25.062427         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       914898
NO_URB    114670
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2019-04-01  592.195476   7.720704  25.966692   66.047040
1   RETIRO  2019-04-02  565.361215   7.112677  22.894592   64.629415
2   RETIRO  2019-04-03  710.896531   9.017458  30.774366   66.624702
3   RETIRO  2019-04-04  642.412794   8.369929  28.022638   65.772259
4   RETIRO  2019-04-05  657.845955   9.228162  29.074797   63.659563
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       643608
NO_URB    137330
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2019-04-01  500.226611   8.393873  18.051979   51.756279
1  PLAZA ELIPTICA  2019-04-02  492.389548   8.349980  17.566051   49.938886
2  PLAZA ELIPTICA  2019-04-03  511.255396   8.499137  18.210855   51.064150
3  PLAZA ELIPTICA  2019-04-04  521.845358   8.767726  18.574034   51.100649
4  PLAZA ELIPTICA  2019-04-05  541.323072   9.308285  19.459161   50.660958
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060255 entries, 0 to 11060254
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 759.4+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              21643
carga                      0
vmed                    1772
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11036840, 7)
BARAJAS
URB    48514
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2019-05-01  166.757812   4.754557  14.464193         0.0
1  BARAJAS  2019-05-02  160.488235   4.583007  13.829412         0.0
2  BARAJAS  2019-05-03  218.798177   6.628906  19.227865         0.0
3  BARAJAS  2019-05-04  193.524772   5.507171  16.876141         0.0
4  BARAJAS  2019-05-05  195.141460   5.367014  16.642764         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1174686
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2019-05-01  272.858913   2.894924  11.916423         0.0
1  CUATRO CAMINOS  2019-05-02  264.082797   2.835453  11.485834         0.0
2  CUATRO CAMINOS  2019-05-03  391.287303   4.341531  17.175807         0.0
3  CUATRO CAMINOS  2019-05-04  318.534081   3.553357  13.974129         0.0
4  CUATRO CAMINOS  2019-05-05  337.074764   3.767269  14.749212         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       971910
NO_URB    118794
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2019-05-01  364.162018   4.251124  15.882264   71.447171
1   RETIRO  2019-05-02  353.677978   4.091404  15.324814   71.586010
2   RETIRO  2019-05-03  504.557146   6.044954  21.966114   70.340531
3   RETIRO  2019-05-04  417.302219   5.005738  18.249269   71.479814
4   RETIRO  2019-05-05  445.984930   5.362194  19.458756   71.443839
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       663958
NO_URB    142832
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2019-05-01  317.697477   4.761428  11.661192   53.498362
1  PLAZA ELIPTICA  2019-05-02  311.662722   4.794678  11.710871   53.542567
2  PLAZA ELIPTICA  2019-05-03  413.719337   6.683283  15.535783   52.343818
3  PLAZA ELIPTICA  2019-05-04  360.016234   5.770833  13.614892   53.871400
4  PLAZA ELIPTICA  2019-05-05  389.725207   6.116979  14.272759   53.510381
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10794005 entries, 0 to 10794004
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 741.2+ MB
None
id                         0
fecha                      0
tipo_elem                  0
intensidad                 0
ocupacion              19286
carga                      0
vmed                    1194
error                      0
periodo_integracion        0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10773525, 7)
BARAJAS
URB    48899
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2019-06-01  229.814224   6.280196  20.210914         0.0
1  BARAJAS  2019-06-02  205.977259   5.286417  17.519361         0.0
2  BARAJAS  2019-06-03  295.881055   8.391784  25.717351         0.0
3  BARAJAS  2019-06-04  298.949476   8.611830  26.088725         0.0
4  BARAJAS  2019-06-05  296.521153   8.711833  25.933783         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1154023
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2019-06-01  396.138068   4.156847  17.113574         0.0
1  CUATRO CAMINOS  2019-06-02  346.995912   3.444559  14.803953         0.0
2  CUATRO CAMINOS  2019-06-03  518.225100   6.116189  22.502507         0.0
3  CUATRO CAMINOS  2019-06-04  532.885742   6.584836  23.252380         0.0
4  CUATRO CAMINOS  2019-06-05  538.820847   6.835341  23.608299         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       925350
NO_URB    115443
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2019-06-01  517.928203   6.249344  22.275063   71.666492
1   RETIRO  2019-06-02  476.896443   5.678308  20.947444   71.644164
2   RETIRO  2019-06-03  611.464991   8.167212  26.758905   65.552176
3   RETIRO  2019-06-04  620.852796   8.475099  27.342153   63.136292
4   RETIRO  2019-06-05  636.398961   8.749319  28.033455   64.801418
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       632390
NO_URB    138513
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2019-06-01  421.471004   6.573220  15.234349   54.091046

In [ ]:
# 2018-1
path = '/content/drive/MyDrive/madrid_traffic_data/original/2018/'
d_month = ['01-2018', '02-2018', '03-2018', '04-2018', '05-2018', '06-2018',
           '07-2018', '08-2018', '09-2018', '10-2018', '11-2018', '12-2018']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/' + e + '_mod_points.csv', index=False) # guardar

In [ ]:
# 2018-2
data = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/original/2018/11-2018.csv', sep=';', header=0) # hecho también para 09 y 10/2018 individualmente
data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
print(data.info())
print(data.isnull().sum())
data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
#data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
print(data.isnull().sum())
print(data.shape)
data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
print('BARAJAS')
data_B = data[data.id.isin(list(ptos_t.ptos_B))]
data_B.drop(['id'], axis=1, inplace=True)
print(data_B.tipo_elem.value_counts())
data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=False) # sin elementos no_URB -> sin vmed
data_B_m.drop('tipo_elem', axis=1, inplace=True)
data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
data_B_m.insert(0,'estacion','BARAJAS')
print(data_B_m.head())
print(data_B_m.isnull().sum())

# Cuatro Caminos
print('CUATRO CAMINOS')
data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
data_CC.drop(['id'], axis=1, inplace=True)
print(data_CC.tipo_elem.value_counts())
data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=False) # sin elementos no_URB -> sin vmed
data_CC_m.drop('tipo_elem', axis=1, inplace=True)
data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
print(data_CC_m.head())
print(data_CC_m.isnull().sum())

# Retiro
print('RETIRO')
data_R = data[data.id.isin(list(ptos_t.ptos_R))]
data_R.drop(['id'], axis=1, inplace=True)
print(data_R.tipo_elem.value_counts())
data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
data_R_m.drop('tipo_elem', axis=1, inplace=True)
data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
data_R_m['vmed_noURB'] = vmed_noURB
data_R_m.insert(0,'estacion','RETIRO')
print(data_R_m.head())
print(data_R_m.isnull().sum())
del(vmed_noURB)

# Plaza Elíptica
print('PLAZA ELIPTICA')
data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
data_PE.drop(['id'], axis=1, inplace=True)
print(data_PE.tipo_elem.value_counts())
data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
data_PE_m.drop('tipo_elem', axis=1, inplace=True)
data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
data_PE_m['vmed_noURB'] = vmed_noURB
data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
print(data_PE_m.head())
print(data_PE_m.isnull().sum())

# Mes
data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/11-2018_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10703589 entries, 0 to 10703588
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           float64
 4   ocupacion            float64
 5   carga                float64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(4), int64(2), object(3)
memory usage: 735.0+ MB
None
id                           0
fecha                        0
tipo_elem                    0
intensidad              221371
ocupacion              2264058
carga                   790753
vmed                   9552770
error                        0
periodo_integracion          0
dtype: int64
id                  0
fecha               0
tipo_elem           0
intensidad     221371
ocupacion     2264058
carga          790753
vmed          9552770
dtype: int64
(10703589, 7)
BARAJAS
URB    47699
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2018-11-01  193.705416   6.161501  15.958995         NaN
1  BARAJAS  2018-11-02  246.660714   8.198044  21.219810         NaN
2  BARAJAS  2018-11-03  202.235255   6.889616  17.083556         NaN
3  BARAJAS  2018-11-04  197.137931   6.375317  16.346911         NaN
4  BARAJAS  2018-11-05  301.369624  10.618890  26.490526         NaN
estacion       0
fecha          0
intensidad     0
ocupacion      0
carga          0
vmed_noURB    30
dtype: int64
CUATRO CAMINOS
URB    1144974
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2018-11-01  342.132769   4.286234  15.271895         NaN
1  CUATRO CAMINOS  2018-11-02  460.417457   6.452060  20.940469         NaN
2  CUATRO CAMINOS  2018-11-03  380.432067   5.107526  17.018167         NaN
3  CUATRO CAMINOS  2018-11-04  333.788889   4.331516  14.938171         NaN
4  CUATRO CAMINOS  2018-11-05  506.513659   9.136785  23.983019         NaN
estacion       0
fecha          0
intensidad     0
ocupacion      0
carga          0
vmed_noURB    30
dtype: int64
RETIRO
URB       908155
NO_URB    115058
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2018-11-01  452.469989   5.547455  20.516723   74.389373
1   RETIRO  2018-11-02  576.203104   7.967618  26.539220   70.848775
2   RETIRO  2018-11-03  469.496560   5.940045  21.390706   74.048167
3   RETIRO  2018-11-04  456.098662   5.740116  20.541677   73.959184
4   RETIRO  2018-11-05  610.919769  10.719590  29.097178   65.072468
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       608216
NO_URB    143946
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2018-11-01  382.738533   6.786873  16.515864   55.028499
1  PLAZA ELIPTICA  2018-11-02  441.874423   8.696608  20.103643   55.158193
2  PLAZA ELIPTICA  2018-11-03  356.697281   6.775670  17.368986   59.008246
3  PLAZA ELIPTICA  2018-11-04  374.023434   6.240130  15.721101   54.941126
4  PLAZA ELIPTICA  2018-11-05  497.470091  10.278020  21.926476   51.307827
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64

In [ ]:
data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/11-2018_mod_points.csv', index=False) # guardar

In [ ]:
# 2017-1
path = '/content/drive/MyDrive/madrid_traffic_data/original/2017/'
d_month = ['01-2017', '02-2017']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['PUNTOS MEDIDA URBANOS', 'PUNTOS MEDIDA M-30'],['URB', 'NO_URB'],inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['identif', 'error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.idelem.isin(list(ptos_t.ptos_B))]
  data_B.drop(['idelem'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.idelem.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['idelem'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.idelem.isin(list(ptos_t.ptos_R))]
  data_R.drop(['idelem'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.idelem.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['idelem'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9843784 entries, 0 to 9843783
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 751.0+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(9843784, 7)
BARAJAS
URB    50393
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-01-01  156.769704   4.503079  15.968596         0.0
1  BARAJAS  2017-01-02  226.734193   6.647023  23.390424         0.0
2  BARAJAS  2017-01-03  238.387793   7.379162  24.723798         0.0
3  BARAJAS  2017-01-04  238.496010   8.069368  25.219767         0.0
4  BARAJAS  2017-01-05  234.923786   7.814997  24.885065         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1183653
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-01-01  297.181492   2.740652  12.626784         0.0
1  CUATRO CAMINOS  2017-01-02  423.530477   4.214254  18.266312         0.0
2  CUATRO CAMINOS  2017-01-03  468.072589   4.919612  20.256892         0.0
3  CUATRO CAMINOS  2017-01-04  497.737337   5.489058  21.522335         0.0
4  CUATRO CAMINOS  2017-01-05  453.394880   5.081774  20.175442         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1019968
NO_URB     112878
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-01-01  359.090962   4.171291  15.327445   65.385965
1   RETIRO  2017-01-02  505.303522   6.085352  21.995945   65.421875
2   RETIRO  2017-01-03  539.315502   6.717354  23.689413   65.124178
3   RETIRO  2017-01-04  560.971783   6.907128  24.497138   65.032895
4   RETIRO  2017-01-05  517.488062   6.471603  23.078692   67.735989
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       451831
NO_URB    145418
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-01-01  372.040347   5.647782  12.256059   49.949192
1  PLAZA ELIPTICA  2017-01-02  470.232863   6.916457  14.683235   48.655612
2  PLAZA ELIPTICA  2017-01-03  495.532593   7.352559  15.445391   48.142007
3  PLAZA ELIPTICA  2017-01-04  490.722832   7.888083  16.276691   47.872236
4  PLAZA ELIPTICA  2017-01-05  480.857274   7.320297  15.525637   50.495748
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8823517 entries, 0 to 8823516
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 673.2+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(8823517, 7)
BARAJAS
URB    44467
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-02-01  284.087170   8.453039  29.205648         0.0
1  BARAJAS  2017-02-02  288.266871   8.561963  29.485890         0.0
2  BARAJAS  2017-02-03  294.987723   9.162676  30.488643         0.0
3  BARAJAS  2017-02-04  203.606265   6.587224  21.684275         0.0
4  BARAJAS  2017-02-05  178.247847   5.507380  18.568266         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1071079
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-02-01  556.663125   6.346766  24.277842         0.0
1  CUATRO CAMINOS  2017-02-02  567.221571   6.748412  24.812132         0.0
2  CUATRO CAMINOS  2017-02-03  584.508434   6.948090  25.777295         0.0
3  CUATRO CAMINOS  2017-02-04  429.948859   4.327651  18.748186         0.0
4  CUATRO CAMINOS  2017-02-05  363.810365   3.474990  15.810705         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       926055
NO_URB    102067
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-02-01  628.326080   8.001434  27.358238   64.743829
1   RETIRO  2017-02-02  639.139505   8.427702  27.840795   62.496024
2   RETIRO  2017-02-03  664.139842   8.665188  29.182462   63.226700
3   RETIRO  2017-02-04  506.360880   6.117178  22.534660   69.389087
4   RETIRO  2017-02-05  445.814015   5.122080  19.665078   70.760077
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       397508
NO_URB    130659
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-02-01  521.494098   8.798256  16.705148   47.112577
1  PLAZA ELIPTICA  2017-02-02  522.717693   8.192621  15.558483   47.774915
2  PLAZA ELIPTICA  2017-02-03  547.147757   8.322650  16.204120   47.785319
3  PLAZA ELIPTICA  2017-02-04  425.416238   6.566315  13.102455   51.013842
4  PLAZA ELIPTICA  2017-02-05  376.318926   5.313660  11.110323   52.139574
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64

In [ ]:
# 2017-2
path = '/content/drive/MyDrive/madrid_traffic_data/original/2017/'
d_month = ['03-2017']

for e in d_month:

  data = pd.read_csv(path + e + '.csv')
  data.tipo_elem.replace(['PUNTOS MEDIDA URBANOS','PUNTOS MEDIDA M-30'], ['URB', 'NO_URB'],inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['identif', 'error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.idelem.isin(list(ptos_t.ptos_B))]
  data_B.drop(['idelem'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.idelem.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['idelem'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.idelem.isin(list(ptos_t.ptos_R))]
  data_R.drop(['idelem'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.idelem.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['idelem'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10933541 entries, 0 to 10933540
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 834.2+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10933541, 7)
BARAJAS
URB    49572
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-03-01  301.075875  10.325551  31.376135         0.0
1  BARAJAS  2017-03-02  298.274173  10.182570  31.772265         0.0
2  BARAJAS  2017-03-03  309.072549   9.705882  32.023529         0.0
3  BARAJAS  2017-03-04  208.221653   6.850096  22.773222         0.0
4  BARAJAS  2017-03-05  180.189920   5.558082  18.902889         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1184823
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-03-01  560.279167   7.096306  24.768377         0.0
1  CUATRO CAMINOS  2017-03-02  566.152412   7.211399  25.055387         0.0
2  CUATRO CAMINOS  2017-03-03  591.112646   8.122881  26.688109         0.0
3  CUATRO CAMINOS  2017-03-04  422.905930   4.473974  18.556054         0.0
4  CUATRO CAMINOS  2017-03-05  359.202550   3.589131  15.629646         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1024401
NO_URB     112485
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-03-01  639.217416   8.261460  27.981719   64.542410
1   RETIRO  2017-03-02  657.135607   8.490852  28.688442   65.845352
2   RETIRO  2017-03-03  686.590528   9.646663  30.893763   63.077193
3   RETIRO  2017-03-04  515.556563   6.204890  22.878678   70.830318
4   RETIRO  2017-03-05  454.616526   5.095251  20.584406   71.427083
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       589444
NO_URB    143655
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-03-01  575.875761   8.456324  16.778014   48.741709
1  PLAZA ELIPTICA  2017-03-02  536.072745   9.362314  18.956794   47.533376
2  PLAZA ELIPTICA  2017-03-03  521.806895   9.690912  19.122345   47.285261
3  PLAZA ELIPTICA  2017-03-04  405.843209   6.879644  14.918642   50.441539
4  PLAZA ELIPTICA  2017-03-05  275.023051   5.317007  12.864408   46.466837
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64

In [ ]:
# 2017-3
path = '/content/drive/MyDrive/madrid_traffic_data/original/2017/'
d_month = ['04-2017', '05-2017', '06-2017', '07-2017', '08-2017', '09-2017']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['PUNTOS MEDIDA URBANOS','PUNTOS MEDIDA M-30'], ['URB', 'NO_URB'],inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['identif', 'error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.idelem.isin(list(ptos_t.ptos_B))]
  data_B.drop(['idelem'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.idelem.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['idelem'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.idelem.isin(list(ptos_t.ptos_R))]
  data_R.drop(['idelem'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.idelem.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['idelem'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10619901 entries, 0 to 10619900
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 810.2+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10619901, 7)
BARAJAS
URB    45414
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-04-01  224.282375   8.925458  24.986734         0.0
1  BARAJAS  2017-04-02  200.390695   7.604844  21.905035         0.0
2  BARAJAS  2017-04-03  291.852923  11.450660  31.742300         0.0
3  BARAJAS  2017-04-04  295.409480  12.073074  32.165899         0.0
4  BARAJAS  2017-04-05  296.343389  10.904365  32.120668         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1145597
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-04-01  443.773981   4.953986  19.415373         0.0
1  CUATRO CAMINOS  2017-04-02  383.406746   4.241319  16.725292         0.0
2  CUATRO CAMINOS  2017-04-03  533.994975   6.571669  23.642812         0.0
3  CUATRO CAMINOS  2017-04-04  551.408511   7.089110  24.493596         0.0
4  CUATRO CAMINOS  2017-04-05  563.020953   7.340370  24.994285         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       999696
NO_URB    102970
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-04-01  533.514961   6.283227  23.791756   70.584430
1   RETIRO  2017-04-02  481.914258   5.586083  21.587554   71.080866
2   RETIRO  2017-04-03  626.927210   7.762220  27.507020   65.920208
3   RETIRO  2017-04-04  641.790968   8.390649  28.518164   62.963796
4   RETIRO  2017-04-05  649.838989   8.429678  28.733229   64.453648
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       595706
NO_URB    140997
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-04-01  443.294634   7.657811  15.988637   52.194515
1  PLAZA ELIPTICA  2017-04-02  399.037938   6.518727  13.993818   52.371173
2  PLAZA ELIPTICA  2017-04-03  509.448058   9.386659  18.495403   48.880952
3  PLAZA ELIPTICA  2017-04-04  521.959035   9.883635  18.806275   47.234906
4  PLAZA ELIPTICA  2017-04-05  527.223936   9.603199  18.864160   48.281888
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10760188 entries, 0 to 10760187
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 820.9+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10760188, 7)
BARAJAS
URB    48193
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-05-01  151.285622   5.390716  16.505480         0.0
1  BARAJAS  2017-05-02  174.941792   5.973839  19.196861         0.0
2  BARAJAS  2017-05-03  296.974543  11.446475  31.706266         0.0
3  BARAJAS  2017-05-04  290.859638  10.678525  27.283959         0.0
4  BARAJAS  2017-05-05  315.071429  10.943537  28.574830         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1185046
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-05-01  257.229195   2.791087  11.140878         0.0
1  CUATRO CAMINOS  2017-05-02  308.081337   3.389042  13.272834         0.0
2  CUATRO CAMINOS  2017-05-03  553.741297   6.826380  24.271519         0.0
3  CUATRO CAMINOS  2017-05-04  558.325808   7.162192  25.082077         0.0
4  CUATRO CAMINOS  2017-05-05  577.158523   7.643776  25.819726         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1042167
NO_URB      96710
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-05-01  345.497187   4.219801  15.721146   69.915709
1   RETIRO  2017-05-02  374.778591   4.392885  16.848813   69.660828
2   RETIRO  2017-05-03  626.530090   8.228454  28.430901   65.005697
3   RETIRO  2017-05-04  631.775829   8.986916  29.522445   60.388150
4   RETIRO  2017-05-05  660.893781   9.127814  30.600725   59.619380
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       571683
NO_URB    142511
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-05-01  304.921622   4.991687  10.793038   50.706809
1  PLAZA ELIPTICA  2017-05-02  416.330526   5.213579  10.643765   51.257283
2  PLAZA ELIPTICA  2017-05-03  568.508445  10.441355  20.027664   49.098190
3  PLAZA ELIPTICA  2017-05-04  533.696089  10.207079  19.047335   47.137556
4  PLAZA ELIPTICA  2017-05-05  534.561631  10.377005  19.474917   46.904884
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10524060 entries, 0 to 10524059
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 802.9+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10524060, 7)
BARAJAS
URB    47573
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-06-01  301.750953  10.949809  27.709022         0.0
1  BARAJAS  2017-06-02  307.400756  10.962193  28.156270         0.0
2  BARAJAS  2017-06-03  215.369055   8.683576  20.521877         0.0
3  BARAJAS  2017-06-04  193.037323   6.408623  17.596525         0.0
4  BARAJAS  2017-06-05  288.338207  10.602670  26.486968         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1148935
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-06-01  563.953952   7.350795  25.172319         0.0
1  CUATRO CAMINOS  2017-06-02  572.338434   7.508129  25.651692         0.0
2  CUATRO CAMINOS  2017-06-03  397.898581   4.529448  17.583771         0.0
3  CUATRO CAMINOS  2017-06-04  360.786288   4.034280  16.036661         0.0
4  CUATRO CAMINOS  2017-06-05  529.176581   6.781514  23.667792         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1003331
NO_URB      87551
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-06-01  646.843952   8.930495  30.088583   59.951861
1   RETIRO  2017-06-02  671.055776   9.208282  30.883533   60.102151
2   RETIRO  2017-06-03  484.359205   5.895510  22.192444   68.095325
3   RETIRO  2017-06-04  446.749958   5.607398  21.086190   71.430789
4   RETIRO  2017-06-05  619.169587   8.372439  28.198188   63.193192
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       599545
NO_URB    137500
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-06-01  542.330230   9.709835  18.951520   48.486220
1  PLAZA ELIPTICA  2017-06-02  557.598977  10.417832  20.309910   48.767756
2  PLAZA ELIPTICA  2017-06-03  409.796909   6.919992  14.880740   52.015519
3  PLAZA ELIPTICA  2017-06-04  401.540843   6.670948  14.010494   51.291667
4  PLAZA ELIPTICA  2017-06-05  514.078983   9.487425  18.720635   49.773810
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10606757 entries, 0 to 10606756
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 809.2+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10606757, 7)
BARAJAS
URB    49019
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-07-01  201.612025   7.989241  18.886076         0.0
1  BARAJAS  2017-07-02  188.032459   7.990012  17.347066         0.0
2  BARAJAS  2017-07-03  282.918798  10.377238  25.515985         0.0
3  BARAJAS  2017-07-04  358.574171  12.551483  32.381326         0.0
4  BARAJAS  2017-07-05  284.089516   9.225015  24.954629         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1203758
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-07-01  362.505873   4.255853  16.411490         0.0
1  CUATRO CAMINOS  2017-07-02  323.714110   3.758684  14.608471         0.0
2  CUATRO CAMINOS  2017-07-03  514.111956   6.593270  23.204230         0.0
3  CUATRO CAMINOS  2017-07-04  596.895460   7.834797  26.868713         0.0
4  CUATRO CAMINOS  2017-07-05  531.431318   6.862611  23.867945         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       996359
NO_URB     70676
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-07-01  362.193308   5.546866  19.184835   61.293403
1   RETIRO  2017-07-02  354.670381   5.074905  18.035008   61.611111
2   RETIRO  2017-07-03  547.671692   8.104131  27.155105   56.529514
3   RETIRO  2017-07-04  559.345212   8.277677  28.314600   47.431507
4   RETIRO  2017-07-05  588.584226   8.327923  28.330741   56.668103
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       610994
NO_URB    138010
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-07-01  356.667063   6.243509  13.444762   52.263021
1  PLAZA ELIPTICA  2017-07-02  323.878627   5.403096  11.894146   52.249763
2  PLAZA ELIPTICA  2017-07-03  460.855727   8.766709  17.306610   49.545455
3  PLAZA ELIPTICA  2017-07-04  501.130371  10.364053  20.982451   45.422167
4  PLAZA ELIPTICA  2017-07-05  431.144695   8.753112  17.505977   45.176183
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10180967 entries, 0 to 10180966
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 776.7+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10180967, 7)
BARAJAS
URB    49321
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-08-01  224.548407   6.140931  19.259804         0.0
1  BARAJAS  2017-08-02  217.773284   5.928922  18.627451         0.0
2  BARAJAS  2017-08-03  214.861834   5.970880  18.726766         0.0
3  BARAJAS  2017-08-04  212.396076   5.917842  18.207848         0.0
4  BARAJAS  2017-08-05  150.858108   4.426290  13.208845         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1190953
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-08-01  403.153369   4.513765  17.989721         0.0
1  CUATRO CAMINOS  2017-08-02  396.695063   4.489712  17.695446         0.0
2  CUATRO CAMINOS  2017-08-03  394.106023   4.344152  17.504160         0.0
3  CUATRO CAMINOS  2017-08-04  374.075973   4.129047  16.643084         0.0
4  CUATRO CAMINOS  2017-08-05  239.488485   2.695698  10.817903         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1027685
NO_URB      65160
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-08-01  446.538244   6.174016  22.387256   53.510417
1   RETIRO  2017-08-02  440.689237   6.152286  22.021780   52.173611
2   RETIRO  2017-08-03  446.923918   6.206733  22.316626   57.392361
3   RETIRO  2017-08-04  435.984581   6.032322  21.711838   58.196181
4   RETIRO  2017-08-05  307.663989   4.308940  15.482811   59.057292
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       577762
NO_URB    137439
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-08-01  395.023642   7.248392  14.716251   48.811790
1  PLAZA ELIPTICA  2017-08-02  391.181724   7.310306  14.594578   48.726089
2  PLAZA ELIPTICA  2017-08-03  383.497670   7.271709  14.606866   49.215672
3  PLAZA ELIPTICA  2017-08-04  377.804659   7.174000  14.433833   49.605114
4  PLAZA ELIPTICA  2017-08-05  274.363087   5.334277  11.194027   51.453835
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10451002 entries, 0 to 10451001
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   idelem               int64
 1   fecha                object
 2   identif              object
 3   tipo_elem            object
 4   intensidad           int64
 5   ocupacion            int64
 6   carga                int64
 7   vmed                 int64
 8   error                object
 9   periodo_integracion  int64
dtypes: int64(6), object(4)
memory usage: 797.3+ MB
None
idelem                 0
fecha                  0
identif                0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
idelem        0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10451002, 7)
BARAJAS
URB    48524
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-09-01  255.118945   6.881668  21.950950         0.0
1  BARAJAS  2017-09-02  182.649693   5.341104  16.073006         0.0
2  BARAJAS  2017-09-03  174.277914   4.584663  14.798773         0.0
3  BARAJAS  2017-09-04  265.491110   7.294911  22.866340         0.0
4  BARAJAS  2017-09-05  266.060699   7.309013  22.918455         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1181040
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-09-01  458.786528   5.134391  20.757493         0.0
1  CUATRO CAMINOS  2017-09-02  330.448436   3.561697  14.874456         0.0
2  CUATRO CAMINOS  2017-09-03  302.522093   3.037039  13.533606         0.0
3  CUATRO CAMINOS  2017-09-04  480.253946   5.674111  21.963990         0.0
4  CUATRO CAMINOS  2017-09-05  495.639365   6.077985  22.716794         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1003237
NO_URB      81166
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-09-01  574.488889   7.073739  25.774595   64.050439
1   RETIRO  2017-09-02  427.585251   5.061974  19.372445   70.299215
2   RETIRO  2017-09-03  404.901081   4.861123  18.606413   71.133673
3   RETIRO  2017-09-04  581.830165   7.354398  26.497041   64.265744
4   RETIRO  2017-09-05  592.842326   7.552185  26.901168   64.077832
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       577173
NO_URB    136140
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-09-01  456.533955   8.131430  16.281917   50.263124

In [ ]:
# 2017-4
path = '/content/drive/MyDrive/madrid_traffic_data/original/2017/'
d_month = ['10-2017', '11-2017', '12-2017']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['PUNTOS MEDIDA URBANOS','PUNTOS MEDIDA M-30'], ['URB', 'NO_URB'],inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11058917 entries, 0 to 11058916
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            int64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: int64(6), object(3)
memory usage: 759.4+ MB
None
id                     0
fecha                  0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(11058917, 7)
BARAJAS
URB    50154
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-10-01  194.578815   5.172131  16.524590         0.0
1  BARAJAS  2017-10-02  285.973006   8.273620  24.810429         0.0
2  BARAJAS  2017-10-03  289.967465   8.386740  25.144260         0.0
3  BARAJAS  2017-10-04  294.473006   8.482209  25.503681         0.0
4  BARAJAS  2017-10-05  298.095034   8.645616  25.774985         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1232227
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-10-01  371.215465   4.148926  16.712427         0.0
1  CUATRO CAMINOS  2017-10-02  521.114236   6.435550  23.558595         0.0
2  CUATRO CAMINOS  2017-10-03  539.442093   6.827764  24.319717         0.0
3  CUATRO CAMINOS  2017-10-04  545.465121   6.835165  24.561620         0.0
4  CUATRO CAMINOS  2017-10-05  559.693507   7.294046  25.274115         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1046798
NO_URB      90940
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-10-01  455.229875   5.866920  21.033906   57.987310
1   RETIRO  2017-10-02  603.845500   8.295154  27.561938   56.776911
2   RETIRO  2017-10-03  613.619759   8.803117  28.261390   57.226567
3   RETIRO  2017-10-04  634.034830   9.072545  28.877150   60.886758
4   RETIRO  2017-10-05  645.306769   9.314314  29.520106   61.815514
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       620180
NO_URB    140304
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-10-01  404.049692   6.331838  14.175085   48.819756
1  PLAZA ELIPTICA  2017-10-02  511.033541   9.612640  19.073596   45.995642
2  PLAZA ELIPTICA  2017-10-03  508.658519  10.049766  19.009721   44.412129
3  PLAZA ELIPTICA  2017-10-04  502.522443   9.694075  18.665674   45.006668
4  PLAZA ELIPTICA  2017-10-05  504.439398   9.985105  18.765897   46.803353
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10965979 entries, 0 to 10965978
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            int64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: int64(6), object(3)
memory usage: 753.0+ MB
None
id                     0
fecha                  0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10965979, 7)
BARAJAS
URB    48172
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-11-01  185.489884   5.076027  15.889025         0.0
1  BARAJAS  2017-11-02  285.003690   8.229397  24.854244         0.0
2  BARAJAS  2017-11-03  295.173513   8.418761  25.581239         0.0
3  BARAJAS  2017-11-04  207.048407   6.381740  18.539828         0.0
4  BARAJAS  2017-11-05  189.042357   5.129527  16.243094         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1181626
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-11-01  346.051433   3.638451  15.591434         0.0
1  CUATRO CAMINOS  2017-11-02  531.612267   6.723124  24.065956         0.0
2  CUATRO CAMINOS  2017-11-03  552.596138   7.118953  25.214939         0.0
3  CUATRO CAMINOS  2017-11-04  409.750145   4.548026  18.605979         0.0
4  CUATRO CAMINOS  2017-11-05  362.981099   3.825977  16.257653         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       1003457
NO_URB     117844
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-11-01  431.654290   4.975371  17.682971   66.802591
1   RETIRO  2017-11-02  631.029248   8.161774  25.712713   60.644817
2   RETIRO  2017-11-03  656.207119   8.893556  27.145666   59.494411
3   RETIRO  2017-11-04  506.986624   6.161538  20.995956   65.726118
4   RETIRO  2017-11-05  467.787097   5.422408  19.084774   66.806148
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       618388
NO_URB    135580
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-11-01  345.437945   6.138257  12.825049   49.079122
1  PLAZA ELIPTICA  2017-11-02  467.731350   8.783856  16.790174   45.651152
2  PLAZA ELIPTICA  2017-11-03  498.206985   9.498525  18.072325   45.526817
3  PLAZA ELIPTICA  2017-11-04  397.461062   6.837389  14.423789   48.525931
4  PLAZA ELIPTICA  2017-11-05  361.571114   5.714385  12.603635   49.205230
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10299144 entries, 0 to 10299143
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            int64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: int64(6), object(3)
memory usage: 707.2+ MB
None
id                     0
fecha                  0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10299144, 7)
BARAJAS
URB    44547
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-12-01  310.851625   9.337216  26.787247         0.0
1  BARAJAS  2017-12-02  217.201227   6.613497  19.369939         0.0
2  BARAJAS  2017-12-03  182.541487   5.116165  15.829748         0.0
3  BARAJAS  2017-12-04  284.053092   8.610244  24.829482         0.0
4  BARAJAS  2017-12-05  241.338055   7.288952  21.026440         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1087934
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-12-01  578.855330   7.771792  26.206004         0.0
1  CUATRO CAMINOS  2017-12-02  433.323204   4.798421  19.343167         0.0
2  CUATRO CAMINOS  2017-12-03  355.914696   3.729744  15.997200         0.0
3  CUATRO CAMINOS  2017-12-04  525.706046   6.736278  24.251028         0.0
4  CUATRO CAMINOS  2017-12-05  486.053548   6.714307  22.014133         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       915437
NO_URB    117133
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-12-01  675.885385   9.127689  27.603213   60.108486
1   RETIRO  2017-12-02  524.933116   6.264435  21.137976   69.313516
2   RETIRO  2017-12-03  462.722225   5.289539  18.601444   70.350864
3   RETIRO  2017-12-04  617.329379   7.915105  24.708412   63.384400
4   RETIRO  2017-12-05  622.736854   7.591211  21.356281   62.808943
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       576264
NO_URB    143210
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-12-01  499.886945   9.967022  18.317983   44.500326
1  PLAZA ELIPTICA  2017-12-02  413.852896   6.978991  14.980988   49.542553
2  PLAZA ELIPTICA  2017-12-03  358.436616   5.737931  12.877883   49.771277
3  PLAZA ELIPTICA  2017-12-04  470.272284   8.970678  17.377915   46.434012
4  PLAZA ELIPTICA  2017-12-05  519.796245   8.141634  14.310436   45.915115
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64

In [ ]:
# 2017-5
path = '/content/drive/MyDrive/madrid_traffic_data/original/2017/'
d_month = ['12-2017']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['PUNTOS MEDIDA URBANOS','PUNTOS MEDIDA M-30'], ['URB', 'NO_URB'],inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())
  data_B_mm = data_B_m.append(fill_b)                      # obtenidos más adelante
  data_B_mm['fecha']= pd.to_datetime(data_B_mm['fecha'])
  dataB = data_B_mm.sort_values(['fecha']).reset_index(drop=True)


  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())
  data_CC_mm = data_CC_m.append(fill_cc)
  data_CC_mm['fecha']= pd.to_datetime(data_CC_mm['fecha'])
  dataCC = data_CC_mm.sort_values(['fecha']).reset_index(drop=True)

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([dataB, dataCC, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10299144 entries, 0 to 10299143
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            int64
 5   carga                int64
 6   vmed                 int64
 7   error                object
 8   periodo_integracion  int64
dtypes: int64(6), object(3)
memory usage: 707.2+ MB
None
id                     0
fecha                  0
tipo_elem              0
intensidad             0
ocupacion              0
carga                  0
vmed                   0
error                  0
periodo_integracion    0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(10299144, 7)
BARAJAS
URB    44547
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2017-12-01  310.851625   9.337216  26.787247         0.0
1  BARAJAS  2017-12-02  217.201227   6.613497  19.369939         0.0
2  BARAJAS  2017-12-03  182.541487   5.116165  15.829748         0.0
3  BARAJAS  2017-12-04  284.053092   8.610244  24.829482         0.0
4  BARAJAS  2017-12-05  241.338055   7.288952  21.026440         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    1087934
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2017-12-01  578.855330   7.771792  26.206004         0.0
1  CUATRO CAMINOS  2017-12-02  433.323204   4.798421  19.343167         0.0
2  CUATRO CAMINOS  2017-12-03  355.914696   3.729744  15.997200         0.0
3  CUATRO CAMINOS  2017-12-04  525.706046   6.736278  24.251028         0.0
4  CUATRO CAMINOS  2017-12-05  486.053548   6.714307  22.014133         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       915437
NO_URB    117133
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2017-12-01  675.885385   9.127689  27.603213   60.108486
1   RETIRO  2017-12-02  524.933116   6.264435  21.137976   69.313516
2   RETIRO  2017-12-03  462.722225   5.289539  18.601444   70.350864
3   RETIRO  2017-12-04  617.329379   7.915105  24.708412   63.384400
4   RETIRO  2017-12-05  622.736854   7.591211  21.356281   62.808943
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       576264
NO_URB    143210
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2017-12-01  499.886945   9.967022  18.317983   44.500326
1  PLAZA ELIPTICA  2017-12-02  413.852896   6.978991  14.980988   49.542553
2  PLAZA ELIPTICA  2017-12-03  358.436616   5.737931  12.877883   49.771277
3  PLAZA ELIPTICA  2017-12-04  470.272284   8.970678  17.377915   46.434012
4  PLAZA ELIPTICA  2017-12-05  519.796245   8.141634  14.310436   45.915115
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64

In [ ]:
# 2017-5
path = '/content/drive/MyDrive/madrid_traffic_data/original/2017/12-2017.csv'

data = pd.read_csv(path, sep=';', header=0)
data.tipo_elem.replace(['PUNTOS MEDIDA URBANOS','PUNTOS MEDIDA M-30'], ['URB', 'NO_URB'],inplace=True) # unificar nomenclatura
print(data.info())
print(data.isnull().sum())
data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
print(data.isnull().sum())
print(data.shape)
data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

# Barajas
print('BARAJAS')
data_B = data[data.id.isin(list(ptos_t.ptos_B))]
data_B.drop(['id'], axis=1, inplace=True)
print(data_B.tipo_elem.value_counts())
data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
data_B_m.drop('tipo_elem', axis=1, inplace=True)
data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
data_B_m.insert(0,'estacion','BARAJAS')
print(data_B_m.head())
print(data_B_m.isnull().sum())
data_B_mm = data_B_m.append(fill_b)                      # obtenidos más adelante
data_B_mm['fecha']= pd.to_datetime(data_B_mm['fecha'])
dataB = data_B_mm.sort_values(['fecha']).reset_index(drop=True)
dataB.fecha = pd.to_datetime(dataB.fecha).dt.date

# Cuatro Caminos
print('CUATRO CAMINOS')
data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
data_CC.drop(['id'], axis=1, inplace=True)
print(data_CC.tipo_elem.value_counts())
data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
data_CC_m.drop('tipo_elem', axis=1, inplace=True)
data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
print(data_CC_m.head())
print(data_CC_m.isnull().sum())
data_CC_mm = data_CC_m.append(fill_cc)
data_CC_mm['fecha']= pd.to_datetime(data_CC_mm['fecha'])
dataCC = data_CC_mm.sort_values(['fecha']).reset_index(drop=True)
dataCC.fecha = pd.to_datetime(dataCC.fecha).dt.date

# Retiro
print('RETIRO')
data_R = data[data.id.isin(list(ptos_t.ptos_R))]
data_R.drop(['id'], axis=1, inplace=True)
print(data_R.tipo_elem.value_counts())
data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
data_R_m.drop('tipo_elem', axis=1, inplace=True)
data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
data_R_m['vmed_noURB'] = vmed_noURB
data_R_m.insert(0,'estacion','RETIRO')
print(data_R_m.head())
print(data_R_m.isnull().sum())
del(vmed_noURB)

# Plaza Elíptica
print('PLAZA ELIPTICA')
data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
data_PE.drop(['id'], axis=1, inplace=True)
print(data_PE.tipo_elem.value_counts())
data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
data_PE_m.drop('tipo_elem', axis=1, inplace=True)
data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
data_PE_m['vmed_noURB'] = vmed_noURB
data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
print(data_PE_m.head())
print(data_PE_m.isnull().sum())

# Mes
data_R_m.carga.replace(0, data_R_m.carga.mean(), inplace=True)
data_PE_m.carga.replace(0, data_PE_m.carga.mean(), inplace=True)
data_month1 = pd.concat([dataB, dataCC, data_R_m, data_PE_m])
data_month1.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/12-2017_mod_points.csv', index=False) # guardar

***Unir datos por año***

In [ ]:
# 2017
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/01-2017_mod_points.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/02-2017_mod_points.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/03-2017_mod_points.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/04-2017_mod_points.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/05-2017_mod_points.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/06-2017_mod_points.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/07-2017_mod_points.csv')
d8 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/08-2017_mod_points.csv')
d9 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/09-2017_mod_points.csv')
d10 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/10-2017_mod_points.csv')
d11 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/11-2017_mod_points.csv')
d12 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2017/12-2017_mod_points.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2017.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    1460 non-null   object
 1   fecha       1460 non-null   object
 2   intensidad  1460 non-null   float64
 3   ocupacion   1460 non-null   float64
 4   carga       1460 non-null   float64
 5   vmed_noURB  1460 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.6+ KB
None

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
1455  PLAZA ELIPTICA  2017-12-27  425.640958   7.425683  15.657143   44.406765
1456  PLAZA ELIPTICA  2017-12-28  436.703439   7.749512  16.383665   45.360145
1457  PLAZA ELIPTICA  2017-12-29  452.452880   8.043498  17.164155   45.647548
1458  PLAZA ELIPTICA  2017-12-30  376.485036   6.124927  14.418642   47.246173
1459  PLAZA ELIPTICA  2017-12-31  318.866398   5.438901  12.696136   46.286352

In [ ]:
# 2018
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/01-2018_mod_points.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/02-2018_mod_points.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/03-2018_mod_points.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/04-2018_mod_points.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/05-2018_mod_points.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/06-2018_mod_points.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/07-2018_mod_points.csv')
d8 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/08-2018_mod_points.csv')
d9 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/09-2018_mod_points.csv')
d10 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/10-2018_mod_points.csv')
d11 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/11-2018_mod_points.csv')
d12 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2018/12-2018_mod_points.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2018.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    1460 non-null   object
 1   fecha       1460 non-null   object
 2   intensidad  1460 non-null   float64
 3   ocupacion   1460 non-null   float64
 4   carga       1460 non-null   float64
 5   vmed_noURB  1216 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.6+ KB
None

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
1455  PLAZA ELIPTICA  2018-12-27  457.742403   7.760590  17.101651   49.608620
1456  PLAZA ELIPTICA  2018-12-28  462.001985   8.198213  17.807704   51.452585
1457  PLAZA ELIPTICA  2018-12-29  392.793156   6.490773  14.443759   53.775433
1458  PLAZA ELIPTICA  2018-12-30  358.324405   5.647862  12.780716   53.736499
1459  PLAZA ELIPTICA  2018-12-31  386.000750   6.840782  15.247888   53.084708

In [ ]:
# 2019
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/01-2019_mod_points.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/02-2019_mod_points.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/03-2019_mod_points.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/04-2019_mod_points.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/05-2019_mod_points.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/06-2019_mod_points.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/07-2019_mod_points.csv')
d8 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/08-2019_mod_points.csv')
d9 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/09-2019_mod_points.csv')
d10 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/10-2019_mod_points.csv')
d11 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/11-2019_mod_points.csv')
d12 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2019/12-2019_mod_points.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2019.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    1460 non-null   object
 1   fecha       1460 non-null   object
 2   intensidad  1460 non-null   float64
 3   ocupacion   1460 non-null   float64
 4   carga       1460 non-null   float64
 5   vmed_noURB  1460 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.6+ KB
None

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
1455  PLAZA ELIPTICA  2019-12-27  439.690528   7.744150  16.790580   52.753384
1456  PLAZA ELIPTICA  2019-12-28  367.834115   6.696138  14.902657   53.369123
1457  PLAZA ELIPTICA  2019-12-29  336.636499   5.751034  13.285480   53.114940
1458  PLAZA ELIPTICA  2019-12-30  430.307060   7.949462  17.082803   51.831361
1459  PLAZA ELIPTICA  2019-12-31  364.049588   6.584691  14.852205   50.777292

In [ ]:
# 2020
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/01-2020_mod_points.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/02-2020_mod_points.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/03-2020_mod_points.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/04-2020_mod_points.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/05-2020_mod_points.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/06-2020_mod_points.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/07-2020_mod_points.csv')
d8 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/08-2020_mod_points.csv')
d9 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/09-2020_mod_points.csv')
d10 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/10-2020_mod_points.csv')
d11 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/11-2020_mod_points.csv')
d12 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2020/12-2020_mod_points.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2020.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1464 entries, 0 to 1463
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    1464 non-null   object
 1   fecha       1464 non-null   object
 2   intensidad  1464 non-null   float64
 3   ocupacion   1464 non-null   float64
 4   carga       1464 non-null   float64
 5   vmed_noURB  1464 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.8+ KB
None

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
1459  PLAZA ELIPTICA  2020-12-27  257.127831   4.015670  10.343115   49.897161
1460  PLAZA ELIPTICA  2020-12-28  383.265278   6.614582  15.247392   50.719306
1461  PLAZA ELIPTICA  2020-12-29  394.512585   6.884139  15.698824   50.049747
1462  PLAZA ELIPTICA  2020-12-30  407.880481   7.293642  16.383315   49.939183
1463  PLAZA ELIPTICA  2020-12-31  325.049463   5.925890  13.860532   50.079337

In [ ]:
# 2021
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/01-2021_mod_points.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/02-2021_mod_points.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/03-2021_mod_points.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/04-2021_mod_points.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/05-2021_mod_points.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/06-2021_mod_points.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/07-2021_mod_points.csv')
d8 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/08-2021_mod_points.csv')
d9 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/09-2021_mod_points.csv')
d10 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/10-2021_mod_points.csv')
d11 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/11-2021_mod_points.csv')
d12 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2021/12-2021_mod_points.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2021.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    1460 non-null   object
 1   fecha       1460 non-null   object
 2   intensidad  1460 non-null   float64
 3   ocupacion   1460 non-null   float64
 4   carga       1460 non-null   float64
 5   vmed_noURB  1460 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.6+ KB
None

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
1455  PLAZA ELIPTICA  2021-12-27  360.929413   5.976506  13.957789   50.794669
1456  PLAZA ELIPTICA  2021-12-28  375.587629   5.882644  14.220520   50.200842
1457  PLAZA ELIPTICA  2021-12-29  376.067143   6.142127  14.578697   49.442098
1458  PLAZA ELIPTICA  2021-12-30  395.256767   6.486777  15.335202   50.161234
1459  PLAZA ELIPTICA  2021-12-31  322.582790   5.111803  12.784641   50.687820

In [ ]:
# 2022
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/01-2022_mod_points.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/02-2022_mod_points.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/03-2022_mod_points.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/04-2022_mod_points.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/05-2022_mod_points.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/06-2022_mod_points.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/07-2022_mod_points.csv')
d8 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/08-2022_mod_points.csv')
d9 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/09-2022_mod_points.csv')
d10 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/10-2022_mod_points.csv')
d11 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/11-2022_mod_points.csv')
d12 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2022/12-2022_mod_points.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2022.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    1460 non-null   object
 1   fecha       1460 non-null   object
 2   intensidad  1460 non-null   float64
 3   ocupacion   1460 non-null   float64
 4   carga       1460 non-null   float64
 5   vmed_noURB  1460 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.6+ KB
None

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
1455  PLAZA ELIPTICA  2022-12-27  406.107708   6.752433  15.052394   55.378850
1456  PLAZA ELIPTICA  2022-12-28  412.979238   6.843338  15.129123   55.346014
1457  PLAZA ELIPTICA  2022-12-29  420.496568   7.006344  15.708787   55.377264
1458  PLAZA ELIPTICA  2022-12-30  428.933533   7.157480  16.153829   55.438406
1459  PLAZA ELIPTICA  2022-12-31  372.059995   5.678215  13.098411   55.500679

In [ ]:
# 2023
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/01-2023_mod_points.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/02-2023_mod_points.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/03-2023_mod_points.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/04-2023_mod_points.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/05-2023_mod_points.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/06-2023_mod_points.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/07-2023_mod_points.csv')
d8 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/08-2023_mod_points.csv')
d9 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/09-2023_mod_points.csv')
d10 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/10-2023_mod_points.csv')
d11 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/11-2023_mod_points.csv')
d12 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/12-2023_mod_points.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2023.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    1460 non-null   object
 1   fecha       1460 non-null   object
 2   intensidad  1460 non-null   float64
 3   ocupacion   1460 non-null   float64
 4   carga       1460 non-null   float64
 5   vmed_noURB  1460 non-null   float64
dtypes: float64(4), object(2)
memory usage: 68.6+ KB
None

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
1455  PLAZA ELIPTICA  2023-12-27  442.610851   7.392163  14.070328   44.468531
1456  PLAZA ELIPTICA  2023-12-28  452.437417   7.582276  14.243825   43.262400
1457  PLAZA ELIPTICA  2023-12-29  448.369909   7.503702  14.368563   44.952612
1458  PLAZA ELIPTICA  2023-12-30  368.677090   5.912876  12.088462   46.555256
1459  PLAZA ELIPTICA  2023-12-31  318.645963   5.065637  10.594595   45.380719

En este punto se revisaron los ficheros mensuales de 2017, 2018 y 2023 dado las filas faltantes. Reprocesamiento individual de meses con datos faltantes: 12/17 (celda #2017-5), 9-11/18 (celdas #2018) y 12/23. En el caso de 12/17 faltaban valores de 6-7-8/12/2017, se completaron con los valores del año más cercano (2018) -> mayor probabilidad de silmilitud en el tráfico.
Posteriormente se volvieron a generar los ficheros anuales sin datos faltantes.

In [ ]:
# 2023-12
path = '/content/drive/MyDrive/madrid_traffic_data/original/2023/'
d_month = ['12-2023']

for e in d_month:

  data = pd.read_csv((path + e + '.csv'), sep=';', header=0)
  data.tipo_elem.replace(['M30','C30'],'NO_URB',inplace=True) # unificar nomenclatura
  print(data.info())
  print(data.isnull().sum())
  data.drop(['error', 'periodo_integracion'], axis=1, inplace=True) # columnas de no interés
  data.drop_duplicates(inplace=True) # descartar registros duplicados si existieran
  data.dropna(inplace=True) # descartar registros nulos ya que son mínimos
  print(data.isnull().sum())
  print(data.shape)
  data.fecha = pd.to_datetime(data.fecha).dt.date # eliminar hora

  # Barajas
  print('BARAJAS')
  data_B = data[data.id.isin(list(ptos_t.ptos_B_ext))]
  data_B.drop(['id'], axis=1, inplace=True)
  print(data_B.tipo_elem.value_counts())
  data_B_m = data_B.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_B_m.drop('tipo_elem', axis=1, inplace=True)
  data_B_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_B_m.insert(0,'estacion','BARAJAS')
  print(data_B_m.head())
  print(data_B_m.isnull().sum())

  # Cuatro Caminos
  print('CUATRO CAMINOS')
  data_CC = data[data.id.isin(list(ptos_t.ptos_CC))]
  data_CC.drop(['id'], axis=1, inplace=True)
  print(data_CC.tipo_elem.value_counts())
  data_CC_m = data_CC.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True) # sin elementos no_URB -> sin vmed
  data_CC_m.drop('tipo_elem', axis=1, inplace=True)
  data_CC_m.rename(columns={'vmed':'vmed_noURB'}, inplace=True)
  data_CC_m.insert(0,'estacion','CUATRO CAMINOS')
  print(data_CC_m.head())
  print(data_CC_m.isnull().sum())

  # Retiro
  print('RETIRO')
  data_R = data[data.id.isin(list(ptos_t.ptos_R))]
  data_R.drop(['id'], axis=1, inplace=True)
  print(data_R.tipo_elem.value_counts())
  data_R_m = data_R.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_R_m[data_R_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_R_m.drop('tipo_elem', axis=1, inplace=True)
  data_R_m = data_R.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_R_m['vmed_noURB'] = vmed_noURB
  data_R_m.insert(0,'estacion','RETIRO')
  print(data_R_m.head())
  print(data_R_m.isnull().sum())
  del(vmed_noURB)

  # Plaza Elíptica
  print('PLAZA ELIPTICA')
  data_PE = data[data.id.isin(list(ptos_t.ptos_PE))]
  data_PE.drop(['id'], axis=1, inplace=True)
  print(data_PE.tipo_elem.value_counts())
  data_PE_m = data_PE.groupby(['fecha','tipo_elem'], as_index=False).mean(numeric_only=True)
  vmed_noURB = data_PE_m[data_PE_m.tipo_elem == 'NO_URB'].vmed.reset_index(drop=True) # vmed basada solo en puntos no urbanos
  data_PE_m.drop('tipo_elem', axis=1, inplace=True)
  data_PE_m = data_PE.groupby(['fecha'], as_index=False).agg({'intensidad':'mean', 'ocupacion':'mean', 'carga':'mean'})
  data_PE_m['vmed_noURB'] = vmed_noURB
  data_PE_m.insert(0,'estacion','PLAZA ELIPTICA')
  print(data_PE_m.head())
  print(data_PE_m.isnull().sum())

  # Mes
  data_month = pd.concat([data_B_m, data_CC_m, data_R_m, data_PE_m])
  data_month.to_csv('/content/drive/MyDrive/madrid_traffic_data/mod/2023/' + e + '_mod_points.csv', index=False) # guardar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3582506 entries, 0 to 3582505
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   fecha                object
 2   tipo_elem            object
 3   intensidad           int64
 4   ocupacion            float64
 5   carga                int64
 6   vmed                 float64
 7   error                object
 8   periodo_integracion  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 246.0+ MB
None
id                        0
fecha                     0
tipo_elem                 0
intensidad                0
ocupacion              2964
carga                     0
vmed                    733
error                   690
periodo_integracion       0
dtype: int64
id            0
fecha         0
tipo_elem     0
intensidad    0
ocupacion     0
carga         0
vmed          0
dtype: int64
(3578809, 7)
BARAJAS
URB    5858
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  BARAJAS  2023-12-01  201.942708   8.682292  23.052083         0.0
1  BARAJAS  2023-12-02  216.326316   7.915789  24.173684         0.0
2  BARAJAS  2023-12-03  201.080645   5.381720  21.844086         0.0
3  BARAJAS  2023-12-04  187.863874   5.790576  20.910995         0.0
4  BARAJAS  2023-12-05  200.235602   5.706806  21.984293         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
CUATRO CAMINOS
URB    595027
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  CUATRO CAMINOS  2023-12-01  517.610293   6.679188  25.375089         0.0
1  CUATRO CAMINOS  2023-12-02  434.154723   5.060057  20.663783         0.0
2  CUATRO CAMINOS  2023-12-03  341.049681   3.819332  16.294874         0.0
3  CUATRO CAMINOS  2023-12-04  460.328252   5.549274  22.324428         0.0
4  CUATRO CAMINOS  2023-12-05  478.755986   6.124819  23.500722         0.0
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
RETIRO
URB       822235
NO_URB     29406
Name: tipo_elem, dtype: int64
  estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0   RETIRO  2023-12-01  536.397421   9.048084  26.160796   67.995803
1   RETIRO  2023-12-02  442.855349   7.143754  21.518893   68.983281
2   RETIRO  2023-12-03  376.622718   5.617148  18.051064   72.804167
3   RETIRO  2023-12-04  480.013121   7.452939  22.801489   69.906414
4   RETIRO  2023-12-05  509.678673   8.084383  24.272855   68.594709
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64
PLAZA ELIPTICA
URB       121450
NO_URB     58852
Name: tipo_elem, dtype: int64
         estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
0  PLAZA ELIPTICA  2023-12-01  540.659495   9.392760  17.093238   49.128125
1  PLAZA ELIPTICA  2023-12-02  498.907227   7.704254  14.517000   49.187500
2  PLAZA ELIPTICA  2023-12-03  467.109031   6.446178  12.434564   49.224479
3  PLAZA ELIPTICA  2023-12-04  526.244611   8.237483  15.715925   49.142783
4  PLAZA ELIPTICA  2023-12-05  537.892186   8.728709  16.342054   49.124479
estacion      0
fecha         0
intensidad    0
ocupacion     0
carga         0
vmed_noURB    0
dtype: int64

In [ ]:
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2017.csv') # chequear datos
print(d1.shape)
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2018.csv')
print(d2.shape)
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2019.csv')
print(d3.shape)
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2020.csv')
print(d4.shape)
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2021.csv')
print(d5.shape)
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2022.csv')
print(d6.shape)
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2023.csv')
print(d7.shape)

# por inspección visual fechas del 6, 7 y 8/12 - 2017 faltantes, acompletar en el dataset final.

(1460, 6)
(1460, 6)
(1460, 6)
(1464, 6)
(1460, 6)
(1460, 6)
(1460, 6)

***Unir años***

In [ ]:
d1 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2017.csv')
d2 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2018.csv')
d3 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2019.csv')
d4 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2020.csv')
d5 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2021.csv')
d6 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2022.csv')
d7 = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/years/m_traffic_points_2023.csv')

y = pd.concat([d1, d2, d3, d4, d5, d6, d7], axis=0, ignore_index=True)

y.to_csv('/content/drive/MyDrive/madrid_traffic_data/m_traffic_points_x_est_all.csv', index=False)
print(y.info())
y.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10224 entries, 0 to 10223
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    10224 non-null  object
 1   fecha       10224 non-null  object
 2   intensidad  10224 non-null  float64
 3   ocupacion   10224 non-null  float64
 4   carga       10224 non-null  float64
 5   vmed_noURB  9980 non-null   float64
dtypes: float64(4), object(2)
memory usage: 479.4+ KB
None

,estacion,fecha,intensidad,ocupacion,carga,vmed_noURB
10219,PLAZA ELIPTICA,2023-12-27,442.610851,7.392163,14.070328,44.468531
10220,PLAZA ELIPTICA,2023-12-28,452.437417,7.582276,14.243825,43.262400
10221,PLAZA ELIPTICA,2023-12-29,448.369909,7.503702,14.368563,44.952612
10222,PLAZA ELIPTICA,2023-12-30,368.677090,5.912876,12.088462,46.555256
10223,PLAZA ELIPTICA,2023-12-31,318.645963,5.065637,10.594595,45.380719

***Últimas modificaciones***

- Eliminar columna vmed_noURB para unificar datos entre estaciones.
- Añadir columna dia_tipo ('LAB' / 'No_LAB').
- Añadir columna mes.

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/m_traffic_points_x_est_all.csv')
data

,estacion,fecha,intensidad,ocupacion,carga,vmed_noURB
0,BARAJAS,2017-01-01,156.769704,4.503079,15.968596,0.000000
1,BARAJAS,2017-01-02,226.734193,6.647023,23.390424,0.000000
2,BARAJAS,2017-01-03,238.387793,7.379162,24.723798,0.000000
3,BARAJAS,2017-01-04,238.496010,8.069368,25.219767,0.000000
4,BARAJAS,2017-01-05,234.923786,7.814997,24.885065,0.000000
...,...,...,...,...,...,...
10219,PLAZA ELIPTICA,2023-12-27,442.610851,7.392163,14.070328,44.468531
10220,PLAZA ELIPTICA,2023-12-28,452.437417,7.582276,14.243825,43.262400
10221,PLAZA ELIPTICA,2023-12-29,448.369909,7.503702,14.368563,44.952612
10222,PLAZA ELIPTICA,2023-12-30,368.677090,5.912876,12.088462,46.555256
10223,PLAZA ELIPTICA,2023-12-31,318.645963,5.065637,10.594595,45.380719

In [ ]:
# usado más arriba para completar 12/17
fill = data[(data.estacion == 'BARAJAS') & (data.fecha == '2018-12-06')]
fill_b = fill.append(data[(data.estacion == 'BARAJAS') & (data.fecha == '2018-12-07')]).append(data[(data.estacion == 'BARAJAS') & (data.fecha == '2018-12-08')])
fill_b

     estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
2795  BARAJAS  2018-12-06  190.292249   5.348793  16.450445         0.0
2796  BARAJAS  2018-12-07  224.193982   6.758003  19.911652         0.0
2797  BARAJAS  2018-12-08  181.764217   5.291374  15.947604         0.0

In [ ]:
# usado más arriba para completar 12/17
fill = data[(data.estacion == 'CUATRO CAMINOS') & (data.fecha == '2018-12-06')]
fill_cc = fill.append(data[(data.estacion == 'CUATRO CAMINOS') & (data.fecha == '2018-12-07')]).append(data[(data.estacion == 'CUATRO CAMINOS') & (data.fecha == '2018-12-08')])
fill_cc

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
2826  CUATRO CAMINOS  2018-12-06  332.476688   3.727353  14.773655         0.0
2827  CUATRO CAMINOS  2018-12-07  427.993395   4.933046  19.150953         0.0
2828  CUATRO CAMINOS  2018-12-08  329.678911   3.699637  14.613476         0.0

In [ ]:
# usado más arriba para completar 12/17
fill_b.replace(['2018-12-06','2018-12-07','2018-12-08'],['2017-12-06','2017-12-07','2017-12-08'], inplace=True)
fill_cc.replace(['2018-12-06','2018-12-07','2018-12-08'],['2017-12-06','2017-12-07','2017-12-08'], inplace=True)

            estacion       fecha  intensidad  ocupacion      carga  vmed_noURB
2826  CUATRO CAMINOS  2017-12-06  332.476688   3.727353  14.773655         0.0
2827  CUATRO CAMINOS  2017-12-07  427.993395   4.933046  19.150953         0.0
2828  CUATRO CAMINOS  2017-12-08  329.678911   3.699637  14.613476         0.0

In [ ]:
data.drop(['vmed_noURB', ], axis=1, inplace=True)

In [ ]:
data.insert(2, 'mes', pd.to_datetime(data.fecha).dt.month)

In [ ]:
data.insert(3, 'dia_tipo', None)

In [ ]:
festivos = pd.read_excel('/content/drive/MyDrive/madrid_traffic_data/calendario.xlsx')
festivos.dropna(axis=0, inplace=True)
print(festivos)
dates = festivos.fecha.dt.date
dates.astype(str)

          fecha tipo_dia
5    2017-01-06  Festivo
78   2017-03-20  Festivo
102  2017-04-13  Festivo
103  2017-04-14  Festivo
120  2017-05-01  Festivo
...         ...      ...
2495 2023-11-01  Festivo
2503 2023-11-09  Festivo
2530 2023-12-06  Festivo
2532 2023-12-08  Festivo
2549 2023-12-25  Festivo

[98 rows x 2 columns]

5       2017-01-06
78      2017-03-20
102     2017-04-13
103     2017-04-14
120     2017-05-01
           ...
2495    2023-11-01
2503    2023-11-09
2530    2023-12-06
2532    2023-12-08
2549    2023-12-25
Name: fecha, Length: 98, dtype: object

In [ ]:
index = data[data.fecha.isin(dates.astype(str))].index
for i in index:
  data.iloc[i,3] = 'No_LAB'

In [ ]:
data.head(30)

   estacion       fecha  mes dia_tipo  intensidad  ocupacion      carga
0   BARAJAS  2017-01-01    1     None  156.769704   4.503079  15.968596
1   BARAJAS  2017-01-02    1     None  226.734193   6.647023  23.390424
2   BARAJAS  2017-01-03    1     None  238.387793   7.379162  24.723798
3   BARAJAS  2017-01-04    1     None  238.496010   8.069368  25.219767
4   BARAJAS  2017-01-05    1     None  234.923786   7.814997  24.885065
5   BARAJAS  2017-01-06    1   No_LAB  159.745074   5.233374  16.700739
6   BARAJAS  2017-01-07    1     None  180.033909   6.118989  19.157830
7   BARAJAS  2017-01-08    1     None  166.569839   5.429543  17.523486
8   BARAJAS  2017-01-09    1     None  272.492336   8.850399  28.452483
9   BARAJAS  2017-01-10    1     None  274.380542   8.655172  28.509852
10  BARAJAS  2017-01-11    1     None  273.147672   9.044730  28.717525
11  BARAJAS  2017-01-12    1     None  277.985785   9.017305  29.165637
12  BARAJAS  2017-01-13    1     None  283.718059   9.058968  29.697789
13  BARAJAS  2017-01-14    1     None  203.904118   6.615857  21.688998
14  BARAJAS  2017-01-15    1     None  170.054054   5.399877  17.805897
15  BARAJAS  2017-01-16    1     None  275.705955   8.691835  28.635359
16  BARAJAS  2017-01-17    1     None  275.968692   9.085328  29.061387
17  BARAJAS  2017-01-18    1     None  282.960098   9.484960  29.670350
18  BARAJAS  2017-01-19    1     None  292.194853   8.684436  30.306985
19  BARAJAS  2017-01-20    1     None  291.337623   8.754902  30.083333
20  BARAJAS  2017-01-21    1     None  208.322897   6.365869  21.885206
21  BARAJAS  2017-01-22    1     None  175.204069   5.383477  18.180025
22  BARAJAS  2017-01-23    1     None  271.604665   9.254144  28.546347
23  BARAJAS  2017-01-24    1     None  275.288698   9.186118  28.931818
24  BARAJAS  2017-01-25    1     None  280.102706   9.629151  29.375769
25  BARAJAS  2017-01-26    1     None  284.928660   8.834988  29.443548
26  BARAJAS  2017-01-27    1     None  296.864167   8.718500  30.276583
27  BARAJAS  2017-01-28    1     None  204.376536   6.531941  21.593366
28  BARAJAS  2017-01-29    1     None  169.660517   5.201107  17.643296
29  BARAJAS  2017-01-30    1     None  280.146026   8.983364  29.002465

In [ ]:
data.insert(4, 'dia_w', pd.to_datetime(data.fecha).dt.day_name())
data.dia_w.replace(['Saturday', 'Sunday'], 'No_LAB', inplace=True) # sábados y domingos
data.dia_w.replace(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], None, inplace=True)
data.dia_w.unique()

array(['No_LAB', None], dtype=object)

In [ ]:
data.head(30)

,estacion,fecha,mes,dia_tipo,dia_w,intensidad,ocupacion,carga
0,BARAJAS,2017-01-01,1,None,No_LAB,156.769704,4.503079,15.968596
1,BARAJAS,2017-01-02,1,None,None,226.734193,6.647023,23.390424
2,BARAJAS,2017-01-03,1,None,None,238.387793,7.379162,24.723798
3,BARAJAS,2017-01-04,1,None,None,238.496010,8.069368,25.219767
4,BARAJAS,2017-01-05,1,None,None,234.923786,7.814997,24.885065
5,BARAJAS,2017-01-06,1,No_LAB,None,159.745074,5.233374,16.700739
6,BARAJAS,2017-01-07,1,None,No_LAB,180.033909,6.118989,19.157830
7,BARAJAS,2017-01-08,1,None,No_LAB,166.569839,5.429543,17.523486
8,BARAJAS,2017-01-09,1,None,None,272.492336,8.850399,28.452483
9,BARAJAS,2017-01-10,1,None,None,274.380542,8.655172,28.509852
10,BARAJAS,2017-01-11,1,None,None,273.147672,9.044730,28.717525
11,BARAJAS,2017-01-12,1,None,None,277.985785,9.017305,29.165637
12,BARAJAS,2017-01-13,1,None,None,283.718059,9.058968,29.697789
13,BARAJAS,2017-01-14,1,None,No_LAB,203.904118,6.615857,21.688998
14,BARAJAS,2017-01-15,1,None,No_LAB,170.054054,5.399877,17.805897
15,BARAJAS,2017-01-16,1,None,None,275.705955,8.691835,28.635359
16,BARAJAS,2017-01-17,1,None,None,275.968692,9.085328,29.061387
17,BARAJAS,2017-01-18,1,None,None,282.960098,9.484960,29.670350
18,BARAJAS,2017-01-19,1,None,None,292.194853,8.684436,30.306985
19,BARAJAS,2017-01-20,1,None,None,291.337623,8.754902,30.083333
20,BARAJAS,2017-01-21,1,None,No_LAB,208.322897,6.365869,21.885206
21,BARAJAS,2017-01-22,1,None,No_LAB,175.204069,5.383477,18.180025
22,BARAJAS,2017-01-23,1,None,None,271.604665,9.254144,28.546347
23,BARAJAS,2017-01-24,1,None,None,275.288698,9.186118,28.931818
24,BARAJAS,2017-01-25,1,None,None,280.102706,9.629151,29.375769
25,BARAJAS,2017-01-26,1,None,None,284.928660,8.834988,29.443548
26,BARAJAS,2017-01-27,1,None,None,296.864167,8.718500,30.276583
27,BARAJAS,2017-01-28,1,None,No_LAB,204.376536,6.531941,21.593366
28,BARAJAS,2017-01-29,1,None,No_LAB,169.660517,5.201107,17.643296
29,BARAJAS,2017-01-30,1,None,None,280.146026,8.983364,29.002465

In [ ]:
data.dia_tipo.fillna(data.dia_w, inplace=True)
data.head(30)

,estacion,fecha,mes,dia_tipo,dia_w,intensidad,ocupacion,carga
0,BARAJAS,2017-01-01,1,No_LAB,No_LAB,156.769704,4.503079,15.968596
1,BARAJAS,2017-01-02,1,None,None,226.734193,6.647023,23.390424
2,BARAJAS,2017-01-03,1,None,None,238.387793,7.379162,24.723798
3,BARAJAS,2017-01-04,1,None,None,238.496010,8.069368,25.219767
4,BARAJAS,2017-01-05,1,None,None,234.923786,7.814997,24.885065
5,BARAJAS,2017-01-06,1,No_LAB,None,159.745074,5.233374,16.700739
6,BARAJAS,2017-01-07,1,No_LAB,No_LAB,180.033909,6.118989,19.157830
7,BARAJAS,2017-01-08,1,No_LAB,No_LAB,166.569839,5.429543,17.523486
8,BARAJAS,2017-01-09,1,None,None,272.492336,8.850399,28.452483
9,BARAJAS,2017-01-10,1,None,None,274.380542,8.655172,28.509852
10,BARAJAS,2017-01-11,1,None,None,273.147672,9.044730,28.717525
11,BARAJAS,2017-01-12,1,None,None,277.985785,9.017305,29.165637
12,BARAJAS,2017-01-13,1,None,None,283.718059,9.058968,29.697789
13,BARAJAS,2017-01-14,1,No_LAB,No_LAB,203.904118,6.615857,21.688998
14,BARAJAS,2017-01-15,1,No_LAB,No_LAB,170.054054,5.399877,17.805897
15,BARAJAS,2017-01-16,1,None,None,275.705955,8.691835,28.635359
16,BARAJAS,2017-01-17,1,None,None,275.968692,9.085328,29.061387
17,BARAJAS,2017-01-18,1,None,None,282.960098,9.484960,29.670350
18,BARAJAS,2017-01-19,1,None,None,292.194853,8.684436,30.306985
19,BARAJAS,2017-01-20,1,None,None,291.337623,8.754902,30.083333
20,BARAJAS,2017-01-21,1,No_LAB,No_LAB,208.322897,6.365869,21.885206
21,BARAJAS,2017-01-22,1,No_LAB,No_LAB,175.204069,5.383477,18.180025
22,BARAJAS,2017-01-23,1,None,None,271.604665,9.254144,28.546347
23,BARAJAS,2017-01-24,1,None,None,275.288698,9.186118,28.931818
24,BARAJAS,2017-01-25,1,None,None,280.102706,9.629151,29.375769
25,BARAJAS,2017-01-26,1,None,None,284.928660,8.834988,29.443548
26,BARAJAS,2017-01-27,1,None,None,296.864167,8.718500,30.276583
27,BARAJAS,2017-01-28,1,No_LAB,No_LAB,204.376536,6.531941,21.593366
28,BARAJAS,2017-01-29,1,No_LAB,No_LAB,169.660517,5.201107,17.643296
29,BARAJAS,2017-01-30,1,None,None,280.146026,8.983364,29.002465

In [ ]:
data.dia_tipo.fillna('LAB', inplace=True)
data.head(30)

,estacion,fecha,mes,dia_tipo,dia_w,intensidad,ocupacion,carga
0,BARAJAS,2017-01-01,1,No_LAB,No_LAB,156.769704,4.503079,15.968596
1,BARAJAS,2017-01-02,1,LAB,None,226.734193,6.647023,23.390424
2,BARAJAS,2017-01-03,1,LAB,None,238.387793,7.379162,24.723798
3,BARAJAS,2017-01-04,1,LAB,None,238.496010,8.069368,25.219767
4,BARAJAS,2017-01-05,1,LAB,None,234.923786,7.814997,24.885065
5,BARAJAS,2017-01-06,1,No_LAB,None,159.745074,5.233374,16.700739
6,BARAJAS,2017-01-07,1,No_LAB,No_LAB,180.033909,6.118989,19.157830
7,BARAJAS,2017-01-08,1,No_LAB,No_LAB,166.569839,5.429543,17.523486
8,BARAJAS,2017-01-09,1,LAB,None,272.492336,8.850399,28.452483
9,BARAJAS,2017-01-10,1,LAB,None,274.380542,8.655172,28.509852
10,BARAJAS,2017-01-11,1,LAB,None,273.147672,9.044730,28.717525
11,BARAJAS,2017-01-12,1,LAB,None,277.985785,9.017305,29.165637
12,BARAJAS,2017-01-13,1,LAB,None,283.718059,9.058968,29.697789
13,BARAJAS,2017-01-14,1,No_LAB,No_LAB,203.904118,6.615857,21.688998
14,BARAJAS,2017-01-15,1,No_LAB,No_LAB,170.054054,5.399877,17.805897
15,BARAJAS,2017-01-16,1,LAB,None,275.705955,8.691835,28.635359
16,BARAJAS,2017-01-17,1,LAB,None,275.968692,9.085328,29.061387
17,BARAJAS,2017-01-18,1,LAB,None,282.960098,9.484960,29.670350
18,BARAJAS,2017-01-19,1,LAB,None,292.194853,8.684436,30.306985
19,BARAJAS,2017-01-20,1,LAB,None,291.337623,8.754902,30.083333
20,BARAJAS,2017-01-21,1,No_LAB,No_LAB,208.322897,6.365869,21.885206
21,BARAJAS,2017-01-22,1,No_LAB,No_LAB,175.204069,5.383477,18.180025
22,BARAJAS,2017-01-23,1,LAB,None,271.604665,9.254144,28.546347
23,BARAJAS,2017-01-24,1,LAB,None,275.288698,9.186118,28.931818
24,BARAJAS,2017-01-25,1,LAB,None,280.102706,9.629151,29.375769
25,BARAJAS,2017-01-26,1,LAB,None,284.928660,8.834988,29.443548
26,BARAJAS,2017-01-27,1,LAB,None,296.864167,8.718500,30.276583
27,BARAJAS,2017-01-28,1,No_LAB,No_LAB,204.376536,6.531941,21.593366
28,BARAJAS,2017-01-29,1,No_LAB,No_LAB,169.660517,5.201107,17.643296
29,BARAJAS,2017-01-30,1,LAB,None,280.146026,8.983364,29.002465

In [ ]:
data.drop('dia_w', axis=1, inplace=True)
data.head(30)

   estacion       fecha  mes dia_tipo  intensidad  ocupacion      carga
0   BARAJAS  2017-01-01    1   No_LAB  156.769704   4.503079  15.968596
1   BARAJAS  2017-01-02    1      LAB  226.734193   6.647023  23.390424
2   BARAJAS  2017-01-03    1      LAB  238.387793   7.379162  24.723798
3   BARAJAS  2017-01-04    1      LAB  238.496010   8.069368  25.219767
4   BARAJAS  2017-01-05    1      LAB  234.923786   7.814997  24.885065
5   BARAJAS  2017-01-06    1   No_LAB  159.745074   5.233374  16.700739
6   BARAJAS  2017-01-07    1   No_LAB  180.033909   6.118989  19.157830
7   BARAJAS  2017-01-08    1   No_LAB  166.569839   5.429543  17.523486
8   BARAJAS  2017-01-09    1      LAB  272.492336   8.850399  28.452483
9   BARAJAS  2017-01-10    1      LAB  274.380542   8.655172  28.509852
10  BARAJAS  2017-01-11    1      LAB  273.147672   9.044730  28.717525
11  BARAJAS  2017-01-12    1      LAB  277.985785   9.017305  29.165637
12  BARAJAS  2017-01-13    1      LAB  283.718059   9.058968  29.697789
13  BARAJAS  2017-01-14    1   No_LAB  203.904118   6.615857  21.688998
14  BARAJAS  2017-01-15    1   No_LAB  170.054054   5.399877  17.805897
15  BARAJAS  2017-01-16    1      LAB  275.705955   8.691835  28.635359
16  BARAJAS  2017-01-17    1      LAB  275.968692   9.085328  29.061387
17  BARAJAS  2017-01-18    1      LAB  282.960098   9.484960  29.670350
18  BARAJAS  2017-01-19    1      LAB  292.194853   8.684436  30.306985
19  BARAJAS  2017-01-20    1      LAB  291.337623   8.754902  30.083333
20  BARAJAS  2017-01-21    1   No_LAB  208.322897   6.365869  21.885206
21  BARAJAS  2017-01-22    1   No_LAB  175.204069   5.383477  18.180025
22  BARAJAS  2017-01-23    1      LAB  271.604665   9.254144  28.546347
23  BARAJAS  2017-01-24    1      LAB  275.288698   9.186118  28.931818
24  BARAJAS  2017-01-25    1      LAB  280.102706   9.629151  29.375769
25  BARAJAS  2017-01-26    1      LAB  284.928660   8.834988  29.443548
26  BARAJAS  2017-01-27    1      LAB  296.864167   8.718500  30.276583
27  BARAJAS  2017-01-28    1   No_LAB  204.376536   6.531941  21.593366
28  BARAJAS  2017-01-29    1   No_LAB  169.660517   5.201107  17.643296
29  BARAJAS  2017-01-30    1      LAB  280.146026   8.983364  29.002465

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data.shape

(10224, 7)

In [ ]:
data.to_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_all_final.csv', index=False)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10224 entries, 0 to 10223
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estacion    10224 non-null  object
 1   fecha       10224 non-null  object
 2   mes         10224 non-null  int64
 3   dia_tipo    10224 non-null  object
 4   intensidad  10224 non-null  float64
 5   ocupacion   10224 non-null  float64
 6   carga       10224 non-null  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 559.2+ KB

In [ ]:
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
estacion,10224,4,BARAJAS,2556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fecha,10224,2556,2017-01-01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mes,10224.0,NaN,NaN,NaN,6.524257,3.448507,1.0,4.0,7.0,10.0,12.0
dia_tipo,10224,2,LAB,6948,NaN,NaN,NaN,NaN,NaN,NaN,NaN
intensidad,10224.0,NaN,NaN,NaN,381.21913,141.410208,19.915416,271.24613,390.975628,492.882219,1186.258638
ocupacion,10224.0,NaN,NaN,NaN,6.128937,2.04864,0.342857,4.689269,6.100292,7.653679,15.572387
carga,10224.0,NaN,NaN,NaN,18.833822,5.412244,1.437926,15.178395,18.657494,22.902749,37.41723

In [103]:
data = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_all_final.csv')
data_b = data[data.estacion == 'BARAJAS']
data_b

data_b.to_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_Barajas_final.csv', index=False)

In [ ]:
data_b.shape

(2556, 7)

In [101]:
data = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_all_final.csv')
data_c = data[data.estacion == 'CUATRO CAMINOS']
data_c

data_c.to_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_CuatroCaminos_final.csv', index=False)

In [ ]:
data_c.shape

(2556, 7)

In [106]:
data = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_all_final.csv')
data_r = data[data.estacion == 'RETIRO']
data_r

data_r.to_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_Retiro_final.csv', index=False)

In [ ]:
data_r.shape

(2556, 7)

In [108]:
data = pd.read_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_all_final.csv')
data_p = data[data.estacion == 'PLAZA ELIPTICA']
data_p

data_p.to_csv('/content/drive/MyDrive/madrid_traffic_data/madrid_traffic_points_x_est_PlazaEliptica_final.csv', index=False)

In [ ]:
data_p.shape

(2556, 7)

In [109]:
data.dia_tipo.unique()

array(['No_LAB', 'LAB'], dtype=object)